<div class="Container d-flex flex-row p-2">
    <h2>Сотрудники</h2>
     <div class="input-group rounded  w-lg-550px ml-auto">
          <input id="search" 
                 type="search"
                 class="form-control rounded" 
                 placeholder="Поиск" 
                 aria-label="Search" 
                 aria-describedby="search-addon" 
                 (keyup.enter)="onEnterSearch()"/>
          <span class="input-group-text border-0" id="search-addon">
            <button (click)="funcSearch()"><i class="fas fa-search"></i></button>
          </span>
        </div>
  </div>


<cdk-virtual-scroll-viewport #fareObjects appendOnly itemSize="30" class="example-viewport">
<table>
    <thead>
     <tr>
        <th class="tl">info</th> 
        <th class="tl">#</th> 
        <th class="tl">ФИО</th>
<!--
        <th class="tl">Фото</th>
-->        
        <th class="tl">Статус</th> 
        <th class="tl">Компания</th>
        <th class="tl">Руководитель</th>
        <th class="tl"> Должность</th>
         <th class="tl">Пол</th>
         <th class="tl">Тип сотрудника</th>
         <th class="tl">Разряд</th>
         <th class="tl">Телефон</th>
         <th class="tl">Тел.2</th>
         <th class="tl">Дата рождения</th>
         <th class="tl">Возраст</th>

<!--
         <th class="tl">Рост</th>
         <th class="tl">Вес</th>
         <th class="tl">Находится на объекте</th>
         <th class="tl">Документы ОЛЛР</th>
         <th class="tl">Дата создания</th>
         <th class="tl">Дата измнения</th>
         <th class="tl">Кем создано</th>
         <th class="tl">Кем изменено</th>
-->         

         <th class="tl">002-O/y от</th>
         <th class="tl">003-O/y от</th> 
         <th class="tl">...</th> 
      </tr>
      </thead>
     
      <tbody>
      <tr *cdkVirtualFor="let staff of this.ShowStaff" class="example-item">

        <td class="td" (click)="summaryOpen(staff.id_staff)" ><img class="scale" src="/assets/img/homer.png" alt="info"  width="50" />
        </td> 
         <td class="td">{{ staff.id_staff }}</td>
         
         
         <td class="td" id="fio" contenteditable="true" (blur)="myUpdateClick($event.target, staff.id_staff, 'fio')" 
                                                               (keypress)="maxInputLength($event,250)" 
                                                               (paste)="maxPasteLength($event,250)" >
             {{ staff.fio }}
         </td> 

<!--
         <td class="td">Фото</td>
-->         
         <td class="td">
            <select [ngModel]="staff.id_status" (change)="onChangeSmallGuide($event, this.guideStatus, staff.id_staff, 'id_status')">
              <option *ngFor="let status of this.guideStatus" [value]="status.id">{{status.name}}</option>
            </select>
         </td> 


         <!--
                КОМПАНИЯ         
         -->         
         <td class="td">
          <select [ngModel]="staff.id_organization" (change)="onChangeSmallGuide($event, this.guideOrganization, staff.id_staff, 'id_organization')">
              <option *ngFor="let go of this.guideOrganization" [value]="go.id">{{go.name}}</option>
          </select>
         </td>


        <!--РУКОВОДИТЕЛЬ-->
         <td class="td">
           <select [ngModel]="staff.id_senjor_guard" (change)="onChangeSenjorGuard($event, this.guideSenjorGuard, staff.id_staff, 'id_senjor_guard')">
              <option *ngFor="let gsg of this.guideSenjorGuard" [value]="gsg.id_staff">{{gsg.fio}}</option>
           </select>
         </td>
         
         
         <!-- Должность-->
         <td class="td">
             <select [ngModel]="staff.id_position" (change)="onChangeSmallGuide($event, this.guidePosition, staff.id_staff, 'id_position')">
              <option *ngFor="let position of this.guidePosition" [value]="position.id">{{position.name}}</option>
           </select>
         </td>


         <!-- Пол-->
         <td class="td">
            <select [ngModel]="staff.id_gender" (change)="onChangeSmallGuide($event, this.guideGender, staff.id_staff, 'id_gender')">
             <option *ngFor="let gg of this.guideGender" [value]="gg.id">{{gg.name}}</option>
            </select>
         </td>


         <!-- Тип сотрудника -->
         <td class="td">
            <select [ngModel]="staff.id_typeperson" (change)="onChangeSmallGuide($event, this.guideTypeperson, staff.id_staff, 'id_typeperson')">
               <option *ngFor="let gtt of this.guideTypeperson" [value]="gtt.id">{{gtt.name}}</option>
            </select>
          </td>



         <!-- разряд--> 
         <td class="td" id="rank" contenteditable="true" (blur)="myUpdateNumberClick($event.target, staff.id_staff, 'rank')" 
                                                         (keypress)="maxInputLength($event,5)" 
                                                         (paste)="maxPasteLength($event,5)" >
               {{ staff.rank }}
         </td>


         <td class="td" id="phone" contenteditable="true" (blur)="myUpdateClick($event.target, staff.id_staff, 'phone')" 
                                                          (keypress)="maxInputLength($event,30)" 
                                                          (paste)="maxPasteLength($event,30)" >
               {{ staff.phone }}
         </td>

         <td class="td" id="phone2" contenteditable="true" (blur)="myUpdateClick($event.target, staff.id_staff, 'phone2')" 
                                                           (keypress)="maxInputLength($event,30)" 
                                                           (paste)="maxPasteLength($event,30)" >
               {{ staff.phone2 }}
         </td>


         <td class="td">
             <input name="date" type="text" (focus)="focusFunction($event, staff.DateBirth_str)" 
             (focusout)="setDateBirth($event, staff.id_staff)"
             value="{{staff.DateBirth_str | date: 'dd.MM.yyyy'}}">
         </td>


         <!-- ВОЗРАСТ, автовычисление в запросе-->
         <td class="td"> {{ staff.sAge }} </td>

<!--
         (focusout)="focusOutFunction($event)" 
         (blur)="set002from($event, staff.id_staff)"
-->         
      
          <td class="td"> 
            <input name="date" type="text" (focus)="focusFunction($event, staff.s002from_str)" 
            (focusout)="set002from($event, staff.id_staff)"
            value="{{staff.s002from_str | date: 'dd.MM.yyyy'}}">
          </td>

          <td class="td"> 
            <input name="date" type="text" (focus)="focusFunction($event, staff.s003from_str)" 
            (focusout)="set003from($event, staff.id_staff)"
            value="{{staff.s003from_str | date: 'dd.MM.yyyy'}}">
          </td>  

          <td>
            <button class="btn btn-danger" (click)="deleteStaff(staff.id_staff, staff.fio)"><img src="/assets/img/delete.png" width="30" /></button>
          </td>

       </tr>

   </tbody>
      </table>

</cdk-virtual-scroll-viewport>      

<div class="add-btn">
  <button class="btn btn-success" type="button" (click)="addNewStaff()"><img src="/assets/img/plus.png" width="30" /></button>
  </div>



<!-- Удалить объект -->
<button id="openDeleteModalButton"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#geleteModal" [hidden]="true">
  DeleteOpen
</button>
<button id="closeDeleteModalButton" type="button" class="btn btn-default" data-bs-toggle="modal"  data-bs-target="#geleteModal" [hidden]="true"  data-dismiss="modal">
DeleteClose
</button>

<div class="modal fade" tabindex="-1" role="dialog" id="geleteModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Удалить сотрудника {{this.curDeleteObject.sLink}}?</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteClose()">Нет</button>
      <button type="button" class="btn btn-primary" (click)="deleteSave()">Да</button>
      
    </div>
  </div>
</div>
</div>  