#mybg{
    color: #fff;
    background-color: #386bc0 !important; 
    cursor: pointer !important;
    }
#mybg:hover{
color: #fff !important;
font-weight: bold !important;
background-color: #386bc0 !important; 
cursor: pointer;
}