<div class="d-flex flex-column">
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
      <div class="d-flex flex-center flex-column flex-lg-row-fluid">

        <div class="w-lg-500px p-10">

          <form class="form w-100" [formGroup]="forgotForm" novalidate (ngSubmit)="submit()">

            <div class="text-center mb-11">
              <h1 class="text-dark fw-bolder mb-3">Забыли пароль?</h1>
              <div class="text-500 text-muted fw-bold fs-5">Sigma Profi ERP</div>
            </div>
            <div class="separator separator-content my-14">
              <span class="w-300px text-gray-500 fw-semibold fs-7">
                Введите Ваш логин или email
              </span>
            </div>

           <!--ВВОД ЕМЭЙЛ-->
            <div class="fv-row mb-8">
              <input class="form-control form-control-lg fw-500 text-gray-700" type="text" 
                     id="IdNameOrEmail" 
                     formControlName="nameOrEmail" 
                     placeholder="Имя пользователя или Email">

            </div>
            <!--КОНЕЦ ВВОДА ЕМЭЙЛ-->

            <!-- ВВОД ОТПРАВИТЬ-->
            <div class="d-grid mb-10">
              <button class="btn btn-primary w-100" [disabled]="forgotForm.invalid || stopCondition">
                Отправить
              </button>
            </div>
            <!-- КОНЕЦ ВВОДА ОТПРАВИТЬ-->


<!-- НАЧАЛО ВЫВОДА СООБЩЕНИЙ (НЕВСПЛЫВАЮЩИЕ АЛЕРТЫ ПЕРВАЯ ПОРЦИЯ) О РЕЗУЛЬТАТАХ-->
            <div *ngIf="forgotForm.controls['nameOrEmail'].touched && forgotForm.controls['nameOrEmail'].invalid">
                  <ng-container *ngIf="this.errorSend !== ''">
                    this.errorSend = '';
                  </ng-container>
              
            <div class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row p-5 mb-10">
                  <!--begin::Icon-->
                  <i class="ki-duotone ki-search-list fs-2hx text-light me-4 mb-5 mb-sm-0">
                                      <span class="path1"></span>
                                      <span class="path2"></span>
                                      <span class="path3"></span>
                  </i>
                <!--end::Icon-->

                <!--begin::Wrapper-->
                    <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                        <!--begin::Title-->
                        <h4 class="mb-2 light">Не указан E-Mail или имя пользователя</h4>
                        <!--end::Title-->

                        <!--begin::Content-->
                        <span class="fs-5">Минимум 2 символа).</span>
                        <!--end::Content-->
                    </div>
                  <!--end::Wrapper-->

                    <!--begin::Close-->
                  <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                  <i class="ki-duotone ki-cross fs-1 text-light"><span class="path1"></span><span class="path2"></span></i>
                  </button>
                  <!--end::Close-->
             </div>
              <!--end::Alert-->
              <p class="alert-danger py-3 pl-1 font-weight-bold">Не указан E-Mail или имя пользователя (минимум 2 символа)</p>
            </div>
 <!-- КОНЕЦ ВЫВОДА СООБЩЕНИЙ ОБ РЕЗУЛЬТАТАХ-->


 <!-- НАЧАЛО ВЫВОДА ВТОРОЙ ПОРЦИИ СООБЩЕНИЙ (НЕВСПЛЫВАЮЩИЕ АЛЕРТЫ) О РЕЗУЛЬТАТАХ-->
              <ng-container *ngIf="showSucc">
                <p class="alert-success py-3 pl-1 font-weight-bold">Ваш новый пароль {{ newpwd }} Письмо с паролем выслано на ваш электронный адрес.</p>
              </ng-container>

              <ng-container *ngIf="showErr">
                <div class="wrong-email">
                  <p class="alert-danger py-3 pl-1 font-weight-bold">Не существующие E-Mail или имя пользователя</p>
                </div>
              </ng-container>

              <ng-container *ngIf="showErrMany">
                <div class="wrong-email">
                  <p class="alert-danger py-3 pl-1 font-weight-bold">Несколько E-Mail или имен пользователей.</p>
                </div>
              </ng-container>

              <ng-container *ngIf="this.errorSend !== ''">
                <p class="alert-danger py-3 pl-1 font-weight-bold">
                  {{this.errorSend}}
                </p>
              </ng-container>
<!-- КОНЕЦ ВЫВОДА ВТОРОЙ ПОРЦИИ СООБЩЕНИЙ (НЕВСПЛЫВАЮЩИЕ АЛЕРТЫ) О РЕЗУЛЬТАТАХ-->

          </form>

        </div>


      </div>

      <div class="d-flex w-100 text-primary fw-semibold gap-6 w-lg-500px">
        <div class="d-flex w-100 justify-content-evenly text-primary fs-5 fw-semibold">
          <a href="https://sigma-profi.com/o-kompanii/" target="_blank">О нас</a>
          <a href="https://sigma-profi.com/uslugi/" target="_blank">Услуги</a>
          <a href="https://sigma-profi.com/kontakty/" target="_blank">Контакт</a>
        </div>
       </div>
    </div>

    <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2" style="background-image: url(assets/media/misc/auth-bg.png)">
      <!--begin::Content-->
      <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
        <!--begin::Logo-->
        <div class="mb-0 mb-lg-12"></div>
        <a href="#">
          <img alt="Logo" src="assets/media/logos/custom-1.png" class="h-60px h-lg-75px" />
        </a>

        <!--end::Logo-->
        <!--begin::Image-->
        <img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20" src="assets/media/misc/auth-screens.png" alt="" />
        <!--end::Image-->
        <!--begin::Title-->
        <h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7">Fast, Efficient and Productive</h1>
        <!--end::Title-->
        <!--begin::Text-->
        <div class="d-none d-lg-block text-white fs-base text-center">In this kind of post,
        <a href="#" class="opacity-75-hover text-warning fw-bold me-1">the blogger</a>introduces a person they’ve interviewed
        <br />and provides some background information about
        <a href="#" class="opacity-75-hover text-warning fw-bold me-1">the interviewee</a>and their
        <br />work following this is a transcript of the interview.</div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex my-2 h-lg-75px">

</div>


