.example-viewport {
    height: 800px;
    width: 1600px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }




   
    /*

    
    display: flex;
    flex-direction: row;
        overflow-x: auto;
    white-space: nowrap;*img src="image.jpg">
</td>/
*/