<app-basement></app-basement>

<div class="Container d-flex flex-row p-2">
  <h2>Объекты</h2>
   <div class="input-group rounded  w-lg-550px ml-auto">
        <input id="search" 
               type="search"
               class="form-control rounded" 
               placeholder="Поиск" 
               aria-label="Search" 
               aria-describedby="search-addon" 
               (keyup.enter)="onEnterSearch()"/>
        <span class="input-group-text border-0" id="search-addon">
          <button (click)="funcSearch()"><i class="fas fa-search"></i></button>
        </span>
      </div>
</div>

       
            <cdk-virtual-scroll-viewport #fareObjects appendOnly itemSize="30" class="example-viewport">
            <!-- <cdk-virtual-scroll-viewport [itemSize]="20"> -->
            
            <table>
                <thead>
                 <tr>
                    <th class="tl"># </th> 
                    <th class="tl">Название</th> 
                    <th class="tl">Тип объекта</th>
                    <th class="tl">Статус</th> 
                    <th class="tl">Опции</th>
                    <th class="tl">Под охраной</th>
                    <th class="tl">Телефон</th> 
                    <th class="tl">Адрес</th>
                    <th class="tl">Яндекс Карта</th>
                    <th class="tl">Ссылка Y</th>
                    <th class="tl">Google Карта</th>
                    <th class="tl">Ссылка G</th>
                    <th class="tl">НОО</th>
                    <th class="tl">Выставлен Дата</th>
                    <th class="tl">Снят Дата</th>
                    <th class="tl">МТР</th>
                    <th class="tl">Клиент</th>
                    <th class="tl">Delete</th>
                     
                </tr>
            </thead>
                <tbody>
                <tr *cdkVirtualFor="let objectone of this.ShowObjects" class="example-item">
                               
                <td class="td">{{ objectone.id_object}}</td>
                <td class="td" id="name" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'name')" 
                                                                   (keypress)="maxInputLength($event,250)" 
                                                                   (paste)="maxPasteLength($event,250)" >
                    {{ objectone.name}}
                </td> 

               <!-- тип объекта -->
               <td class="td">
                <select [ngModel]="objectone.id_object_type" (change)="onChangeSmallGuide($event, this.guideObjectType, objectone.id_object, 'id_object_type')">
                    <option *ngFor="let objecttype of this.guideObjectType" [value]="objecttype.id">{{objecttype.name}}</option>
                </select>
            </td>
                           
            <td class="td">
                  

                <!-- ПОСТ ВЫСТАВЛЕН ИЛИ СНЯТ-->    
                  <select [ngModel]="objectone.id_post_status" (change)="onChangeSmallGuide($event, this.guidePostStatus, objectone.id_object, 'post_status' )" >
                    <option *ngFor="let poststatus of this.guidePostStatus" [value]="poststatus.id">{{poststatus.name}}</option>
                  </select>

                            
                
                </td> 

                <td class="td" id="options" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'options')" 
                                                                   (keypress)="maxInputLength($event,250)" 
                                                                   (paste)="maxPasteLength($event,250)" >
                      {{ objectone.options}} 

                </td>

                <!-- ОРГАНИЗАЦИИ К КОТОРЫМ ОТНОСИТСЯ СОТРУДНИК-->
                <td class="td">
                <select [ngModel]="objectone.id_organization" (change)="onChangeSmallGuide($event, this.guideOrganization, objectone.id_object, 'id_organization')">
                    <option *ngFor="let organization of this.guideOrganization" [value]="organization.id">{{organization.name}}</option>
                  </select>
                </td> 

                <td class="td" id="phone" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'phone')" 
                                                                    (keypress)="maxInputLength($event,250)" 
                                                                    (paste)="maxPasteLength($event,250)" >
                    {{ objectone.phone }}
                </td>

                <td class="td" id="address" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'address')" 
                                                                   (keypress)="maxInputLength($event,250)" 
                                                                   (paste)="maxPasteLength($event,250)" >
                    {{ objectone.address}}
                </td>

                <!--
                (click)="onClickYandex(objectone.id_object)"
                (click)="onClickGoogle(objectone.id_object)"
                -->

                <td class="td"><a href="{{ objectone.yandex_maps}}" class="btn btn-primary">Яндекс</a></td>

                <td class="td"> 
                         <!-- Вызов кнопки изменения яндекса -->
                          <button type="button" 
                          class="btn btn-info" 
                          data-bs-toggle="modal" 
                          data-bs-target="#yandexModal"
                          (click)="onClickYandex(objectone.id_object, objectone.yandex_maps)">
                            ...
                        </button>
                </td>

                <td class="td"><a href="{{ objectone.google_maps}}" class="btn btn-primary">Google</a></td>
                <td class="td"> 
                         <!-- Вызов кнопки изменения гуггл -->                  
                          <button  type="button" 
                           class="btn btn-warning" 
                           data-toggle="modal" 
                           data-target="#googleModal"
                           (click)="onClickGoogle(objectone.id_object, objectone.google_maps)">
                           ...
                           </button>
                </td>
                

                <!--  НАЧАЛЬНИК ОХРАНЫ ОБЪЕКТА -->
                <td class="td">
                <select [ngModel]="objectone.id_senjor_guard" (change)="onChangeSenjorGuard($event, this.guideSenjorGuard, objectone.id_object, 'id_senjor_guard')">
                    <option *ngFor="let gsg of this.guideSenjorGuard" [value]="gsg.id_staff">{{gsg.fio}}</option>
                </select>
                </td>

                <!--  ДАТА ПОСТАНОВКИ ОХРАНЫ -->
                <td class="td">
                    <!--<input type="date" [value]="objectone.postwassetdate_str"  /> -->
                    <input name="date" type="text" (focus)="focusFunction($event, objectone.postwassetdate_str)" 
                                                   (focusout)="setDatePostwassetdate($event, objectone.id_object)"
                                                   value="{{objectone.postwassetdate_str | date: 'dd.MM.yyyy'}}">
                </td>

                <!--  ДАТА СНЯТИЯ ОХРАНЫ -->
                <td class="td">
                    <input name="date" type="text" (focus)="focusFunction($event, objectone.withdrawaldate_str)" 
                                                   (focusout)="setDateWithdrawaldate($event, objectone.id_object)"
                                                   value="{{objectone.withdrawaldate_str | date: 'dd.MM.yyyy'}}">
                </td>

                <!-- МТР-->
                <td class="td">
                        <select [ngModel]="objectone.id_mtr" (change)="onChangeSmallGuide($event, this.guideMTR, objectone.id_object, 'id_mtr')">
                            <option *ngFor="let mtr of this.guideMTR" [value]="mtr.id">{{mtr.name}}</option>
                        </select>
                </td> 

                <!-- Клиент-->
                <td class="td">
                    <select [ngModel]="objectone.id_customer" (change)="onChangeSmallGuide($event, this.guideCustomers, objectone.id_object, 'id_customer')">
                        <option *ngFor="let customer of this.guideCustomers" [value]="customer.id">{{customer.name}}</option>
                    </select>
                </td> 

                               
                <td>
                  <button class="btn btn-danger" (click)="deleteObject(objectone.id_object, objectone.name)"><img src="/assets/img/delete.png" width="30" /></button>
                </td>
                

               </tr>                                
    </tbody>        
        </table>            
                </cdk-virtual-scroll-viewport>

<!--
                <input type="date"  (focus)="focusFunction($event)"  (focusout)="focusOutFunction($event)"  />
                <input name="date" type="text" (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">

                aria-labelledby="exampleModalLabel" aria-hidden="true"
-->                                

<!-- YANDEX modal -->
<button id="openYandexModalButton" type="button" class="btn btn-Warning" data-bs-toggle="modal" data-bs-target="#yandexModal" [hidden]="true">
   YandexOpen 
</button>
<button id="closeYandexModalButton" type="button" class="btn btn-default" data-bs-toggle="modal"  data-bs-target="#yandexModal" [hidden]="true"  data-dismiss="modal">
  YandexClose
</button>
 

  <div class="modal fade" tabindex="-1" role="dialog" id="yandexModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Внесите ссылку  Яндекс.</h5>
        </div>
        <div class="modal-body">
          <input [(ngModel)]="this.curMaps.sLink" style="width: 100%;"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="yandexClose()">Закрыть</button>
          <button type="button" class="btn btn-primary" (click)="yandexSave()">Сохранить</button>
        </div>
      </div>
    </div>
  </div>

<!-- GOOGLE modal -->
<button id="openGoogleModalButton"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#googleModal" [hidden]="true">
    GoogleOpen
</button>
<button id="closeGoogleModalButton" type="button" class="btn btn-default" data-bs-toggle="modal"  data-bs-target="#googleModal" [hidden]="true"  data-dismiss="modal">
  GoogleClose
</button>

<div class="modal fade" tabindex="-1" role="dialog" id="googleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Внесите ссылку Google.</h5>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="this.curMaps.sLink" style="width: 100%;"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="googleClose()">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="googleSave()">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<!-- Удалить объект -->

<!-- <input id="openDeleteModalButton" type="button" src="assets/img/plus.png" border="0" alt="Добавить" /> -->

<button id="openDeleteModalButton"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#geleteModal" [hidden]="true">
  DeleteOpen
</button>
<button id="closeDeleteModalButton" type="button" class="btn btn-default" data-bs-toggle="modal"  data-bs-target="#geleteModal" [hidden]="true"  data-dismiss="modal">
DeleteClose
</button>

<div class="modal fade" tabindex="-1" role="dialog" id="geleteModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Удалить объект {{this.curDeleteObject.sLink}}?</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteClose()">Нет</button>
      <button type="button" class="btn btn-primary" (click)="deleteSave()">Да</button>
      
    </div>
  </div>
</div>
</div>



<div class="add-btn">
  <button class="btn btn-success" type="button" (click)="addNewObject()"><img src="/assets/img/plus.png" width="30" /></button>
  </div>
 
