



<cdk-virtual-scroll-viewport #fareObjects appendOnly itemSize="50" class="example-viewport">


    <div class="container-fluid">
        <div class="row">
          <div class="col-12">

    <table class="table1">
        <tbody>
            <div *cdkVirtualFor="let objectone of this.ShowObjects" class="example-item" (click)="clicObject(objectone)">
                <tr>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.id_object }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.name }}</td> 
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.post_status }}</td> 
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.options }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.cur_organization }}</td> 
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.address }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.yandex_maps }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.google_maps }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.phone }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.senjor_guard }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.postwasset_date  | date: "MMM d, y, h:mm:ss"  }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.withdrawal_date  | date: "MMM d, y, h:mm:ss"  }}</td>
                    <td class="tl" width="150"><span class="masha"></span>{{ objectone.MTR }}</td>
                </tr>
            </div>
        </tbody>
    </table>            
    </div>
    </div>
    </div>
</cdk-virtual-scroll-viewport>

<!--
        <div>{{ objectone.id_object }}</div>
        <div>{{ objectone.name }} </div>
        <div>{{ objectone.post_status }}</div> 
        <div>{{ objectone.object_type }}</div> 
        <div>{{ objectone.options }}</div> 
        <div>{{ objectone.cur_organization }}</div> 
        <div>{{ objectone.address }}</div> 
        <div>{{ objectone.yandex_maps }}</div> 
        <div>{{ objectone.google_maps }}</div> 
        <div>{{ objectone.phone }}</div> 
        <div>{{ objectone.senjor_guard }}</div> 
        <div>{{ objectone.postwasset_date  | date: "MMM d, y, h:mm:ss"  }}</div> 
        <div>{{ objectone.withdrawal_date  | date: "MMM d, y, h:mm:ss"  }}</div> 
        <div>{{ objectone.MTR }}</div>
-->  