
            <h1 class="m-3">Объекты</h1> 
            <cdk-virtual-scroll-viewport #fareObjects appendOnly itemSize="30" class="example-viewport">
            <!-- <cdk-virtual-scroll-viewport [itemSize]="20"> -->
            
            <table>
                <thead>
                 <tr>
                    <th class="tl">#</th> 
                    <th class="tl">Название</th> 
                    <th class="tl">Статус</th> 
                    <th class="tl">Опции</th>
                    <th class="tl">Организация</th>
                    <th class="tl">Телефон</th> 
                    <th class="tl">Адрес</th>
                    <th class="tl">Яндекс Карта</th>
                    <th class="tl">Google Карта</th>
                    <th class="tl">НОО</th>
                    <th class="tl">выставлен</th>
                    <th class="tl">снят</th>
                 
                </tr>
            </thead>
                <tbody>
                <tr *cdkVirtualFor="let objectone of this.ShowObjects" class="example-item">
                               
                <td class="td">{{ objectone.id_object}}</td>
                <td class="td" id="name" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'name')" 
                                                                   (keypress)="maxInputLength($event,250)" 
                                                                   (paste)="maxPasteLength($event,250)" >
                    {{ objectone.name}}
                </td> 

                <td class="td">{{ objectone.post_status}}</td> 
                <td class="td" id="options" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'options')" 
                                                                   (keypress)="maxInputLength($event,250)" 
                                                                   (paste)="maxPasteLength($event,250)" >
                    {{ objectone.options}}
                </td>

                <td class="td">{{ objectone.cur_organization}}</td> 

                <td class="td" id="phone" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'phone')" 
                                                                    (keypress)="maxInputLength($event,250)" 
                                                                    (paste)="maxPasteLength($event,250)" >
                    {{ objectone.phone }}
                </td>


                <td class="td" id="address" contenteditable="true" (blur)="myUpdateClick($event.target, objectone.id_object, 'address')" 
                                                                   (keypress)="maxInputLength($event,250)" 
                                                                   (paste)="maxPasteLength($event,250)" >
                    {{ objectone.address}}
                </td>

                <td class="td">{{ objectone.yandex_maps}}</td>
                <td class="td">{{ objectone.google_maps}}</td>


                <td class="td">{{ objectone.senjor_guard }}</td>
                <td class="td">{{ objectone.postwasset_date  | date: "MMM d, y, h:mm:ss"  }}</td>
                <td class="td">{{ objectone.withdrawal_date  | date: "MMM d, y, h:mm:ss"  }}</td>
                <!-- <td class="td">{{ objectone.MTR }}</td>  -->
                </tr>                                
    </tbody>        
        </table>            
                </cdk-virtual-scroll-viewport>