.example-viewport {
    height: 800px;
    width: 100vw;
    border: 1px solid rgb(75, 92, 167);
  }
  
  .example-item {
    height: 150px;
  }
.td{
  min-width: 150px;
  max-width: 500px;
  margin: 10px; 
}

.tl{
  background-color: bisque;
  font-size: 1.1em;
  font-weight: bold;
}


   
    /*

    
    display: flex;
    flex-direction: row;
        overflow-x: auto;
    white-space: nowrap;*img src="image.jpg">
</td>/
*/