

<cdk-virtual-scroll-viewport #fareObjects appendOnly itemSize="30" class="example-viewport">

            <table>
                <thead>
                            <tr>
                               <th class="tl"># </th> 
                               <th class="tl">Название</th> 
                               <th class="tl">id_mtrvid</th>
                               <th class="tl">color</th> 
                               <th class="tl">status</th>
                               <th class="tl">description</th>
                               <th class="tl">property</th> 
                               <th class="tl">equipment</th>
                               <th class="tl">price</th>
                               <th class="tl">size</th>
                               <th class="tl">count</th>
                               <th class="tl">date_purchase</th>
                               <th class="tl">date_issue</th>
                               <th class="tl">tabel_number</th>
                               <th class="tl">invent_number</th>
                               <th class="tl">serial_number</th>
                               <th class="tl">barcode</th>
                               <th class="tl">invoice</th>
                               <th class="tl">delivery_contract</th>
                               <th class="tl">id_organization</th>
                               <th class="tl">id_object</th>
                           </tr>
                       </thead>
                        <tbody>
                            
                         <tr *cdkVirtualFor="let mtr of this.ShowMtr" class="example-item" (click)="clicObject(mtr)">
                              
                                    <td class="td">{{ mtr.id_mtr }}</td>
                                    <td class="td">{{ mtr.name }}</td> 
                                    <td class="td">{{ mtr.id_mtrvid }}</td> 
                                    <td class="td">{{ mtr.color }}</td>
                                    <td class="td">{{ mtr.status }}</td> 
                                    <td class="td">{{ mtr.description }}</td>
                                    <td class="td">{{ mtr.property }}</td>
                                    <td class="td">{{ mtr.equipment }}</td>
                                    <td class="td">{{ mtr.price }}</td>
                                    <td class="td">{{ mtr.size }}</td>
                                    <td class="td">{{ mtr.count }}</td>
                                    <td class="td">{{ mtr.date_purchase  | date: "MMM d, y, h:mm:ss"  }}</td>
                                    <td class="td">{{ mtr.date_issue  | date: "MMM d, y, h:mm:ss"  }}</td>
                                    <td class="td">{{ mtr.tabel_number }}</td>
                                    <td class="td">{{ mtr.invent_number }}</td>
                                    <td class="td">{{ mtr.serial_number }}</td>
                                    <td class="td">{{ mtr.barcode }}</td>
                                    <td class="td">{{ mtr.invoice }}</td>
                                    <td class="td">{{ mtr.delivery_contract }}</td>
                                    <td class="td">{{ mtr.id_organization }}</td>
                                    <td class="td">{{ mtr.id_object }}</td>
                                </tr>
                  
                        </tbody>
                    </table>            

</cdk-virtual-scroll-viewport>