<app-basement></app-basement>

<div class="container-fluid flex-row">
    <div class="header">
  <img class="avatar" src = {{this.sAvatar}}> 
        <span>{{this.currentUser.name}}</span> 
    </div>
<div class="row">
    <div class="col-md-3 m-0">
   
      <ul name="Users" size="50">
          <li *ngFor="let user of users" value="user.id_user"  (click)="clickUser(user)"> 
          <div class="user-name">
            
            <img class="talker" src = {{user.avatar_name}} >
            <span>{{user.name}}</span>
            


            <div *ngIf="user.ItIsUnread == true" >   
              <img class="letter" src = "/assets/img/letter.png" >
            </div>
            <div *ngIf="user.ItIsUnread !== true" >Новых нет</div>
            <img class="connected" title="Online"  src = {{user.connected_icon}} >

          </div>
        </li>
      </ul>

    </div>
  <div class="col-md-9 m-0">
 
<cdk-virtual-scroll-viewport #fareNotes appendOnly itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let msg of this.appearMessages" 
              [ngClass]="this.getClassLine(msg.msg_from_current_user)">
              {{msg.message}} 
              {{msg.createdAt  | date: "MMM d, y, HH:mm:ss"  }} 
              <img class="reed" src = {{msg.marked_icon}} >
        </div>
</cdk-virtual-scroll-viewport>




<div class="footer">
    
  <form [formGroup]="chatForm">
      <div>
       
        <input type="text" id="idmessage" formControlName="send_message" placeholder="сообщение">

        <!-- <textarea id="areaNote" class="form-control" name="textTask" cols="52" rows="6"></textarea> -->
      </div>
  </form> 

 <button type="button" class="btn btn-success ml-auto ntn-sm" (click)="sendMessage()">Отправить</button>
  
</div>
  </div>
    </div>




 </div>   <!-- Конец контейнера -->

<!--
 <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let user of users" class="example-item" (click)="clickUser(user)">{{user.name}} {{user.connected}}" </div>
</cdk-virtual-scroll-viewport>
-->




<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nisi dolore vel dignissimos ea 
cumque sapiente blanditiis asperiores officia sint velit soluta ipsam perspiciatis fuga, optio enim error 
porro autem sed dolorum placeat. Eum inventore omnis, delectus laboriosam dolorem, ea nostrum commodi mollitia 
recusandae in, possimus sit cumque ex veritatis! -->

