.container-fluid{
    height: 650px;
}
.row{
 width: 100%;
 height: 100%;   
}

.example-viewport {
    height: 500px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 25px;
}
   
  .example-item {
    height: auto;
    background-color: #c8dbf8;
    overflow-y: visible;
    margin-bottom: 20px ;
    margin-left: 15px;
    margin-right: 15px;
    white-space: pre-wrap;
    border-radius: 20px;
    padding: 15px;
  }

  .example-item-false {
    height: auto;
    background-color: #e6e6e6;
    overflow-y: visible;
    margin-bottom: 20px ;
    margin-left: 15px;
    margin-right: 15px;
    white-space: pre-wrap;
    border-radius: 20px;
    padding: 15px;
  }



  .example-item:first-child {
    margin-top: 20px;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: 100%;
    height: 60px;
    padding: 10px;
 }

 ul{
    margin: 0;
    padding: 0;
    overflow: auto;
}

ul li:first-child {
	border-radius: 0 5px 0 0;
}

li{
    background-color: #a7d5f6;
    cursor: pointer;
    width: 100%;
    height: 50px;
    list-style-type: none;
    color: #fff;
	border-bottom: 1px solid #fff;
    vertical-align: middle;
  }

li:hover{
    background: #95bbf5;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: transparent;
    align-content: flex-end;
}  

.avatar{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(21, 38, 114, 0.075);
}
.talker{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.reed{
    color: #218838 !important;
    margin-left: 99%;
    width: 25px;
    height: 25px;
}

.connected{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
select{
    width: 100%;
    height: 650px;
}

.letter{
    width: 20px;
    height: 20px;
    background-color: transparent;
}

option{
    width: 100%;
    height: 50px;
    cursor: pointer;
}
option:hover{
    height: 50px;
    background-color: #95bbf5;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

span{
    display: flex;
    margin: auto 0;
    font-size: 14px;
    font-weight: 600;
}

.user-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    font-weight: normal;
}

input{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.btn.btn-success{
    color: #fff;
    background-color: #218838 !important;
    font-weight: 600 !important;
 }
    .btn.btn-success:hover{
    color: white !important;
    font-weight: 650 !important;
    background-color: #218838 !important; 
    cursor: pointer;
    }