    
    <div class="me-7 mb-4">
        <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0; then contentLoadAvatar else contentDefault">Профиль</div>
        <ng-template #contentLoadAvatar class="image-input">
        <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sAvatarPath" alt="Профиль" id="img">
        </ng-template>
        <ng-template #contentDefault>
          <img class="rounded image-input-wrapper w-125px h-125px" src="/assets/img/usernull.jpg">
        </ng-template>
    </div>



    <app-summary [id_staff]="id_staff"></app-summary>

   <h2>Из генерала переходим в settings передаем туда номер id staфф для редактирования </h2>
    <a class="btn" href="settings" role="button">settings</a>




<button (click)="clickBack()"> Закрыть </button>
