   <div class="me-7 my-4">
        <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0; then contentLoadAvatar else contentDefault">Профиль</div>
        <ng-template #contentLoadAvatar class="image-input">
        <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sAvatarPath" alt="Профиль" id="img">
        </ng-template>
        <ng-template #contentDefault>
          <img class="rounded image-input-wrapper w-125px h-125px" src="/assets/img/usernull.jpg">
        </ng-template>
    </div>

<!-- Начало меню -->
<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
  <!--begin::Details-->
  <div class="d-flex flex-wrap flex-sm-nowrap">
  <!--begin: Pic-->
  
 
  </div>
  <!--end::Details-->
  <!--begin::Navs-->
  <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
  <!--begin::Nav item-->
  <li class="nav-item mt-2">
  <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="#">Overview</a>
  </li>
  <!--end::Nav item-->
  <!--begin::Nav item-->
  <li class="nav-item mt-2">
  <a class="nav-link text-active-primary ms-0 me-10 py-5" (click)="settings()" >Settings</a>
  </li>
  <!--end::Nav item-->
  <!--begin::Nav item-->
  <li class="nav-item mt-2">
  <a class="nav-link text-active-primary ms-0 me-10 py-5" href="/ollr">ОЛЛР</a>
  </li>
  <!--end::Nav item-->
  <!--begin::Nav item-->
  <li class="nav-item mt-2">
  <a class="nav-link text-active-primary ms-0 me-10 py-5" href="">Passport</a>
  </li>
  <!--end::Nav item-->
  
  <!--begin::Nav item-->
  <li class="nav-item mt-2">
  <a class="nav-link text-active-primary ms-0 me-10 py-5" href="">Statements</a>
  </li>
  <!--end::Nav item-->
    
  <li class="nav-item mt-2">
    <a class="nav-link text-active-primary ms-0 me-10 py-5" href="">
      <img style="margin-right: 10px;" src="/assets/img/plus.png" width="30 height=30" />
      Добавить сотрудника</a>
    </li>

  </ul>
  <!--begin::Navs-->
  </div>
  </div>

     <!-- Конец меню -->

    <app-summary [id_staff]="id_staff"></app-summary>


    <!-- <a class="btn" href="settings" role="button">settings</a>
    <button (click)="settings()">settings</button>  -->




<button (click)="clickBack()"> Закрыть </button>
