<p>general works!</p>

<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
    <!--begin::Details-->
    <div class="d-flex flex-wrap flex-sm-nowrap">
    <!--begin: Pic-->
    <div class="me-7 mb-4">
    <div class="symbol symbol-100px symbol-lg-160px">
    <img src="assets/media/avatars/300-1.jpg" alt="image">
        </div>
    </div>
    <!--end::Pic-->

    <!--begin::Info-->
                                                    <div class="flex-grow-1">
    <!--begin::Title-->
    <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
    <!--begin::User-->
    <div class="d-flex flex-column text-mutted">
    <!--begin::Name-->
    <div class="d-flex align-items-center mb-2">
    <div class="text-bs-gray-300 text-hover-primary fs-2 fw-bold me-1">Фамилия имя отчество</div>
        </div>
    <!--begin::Info-->
    <div class="d-flex w-100 fw-semibold fs-5 mb-4">
    <span class="d-flex align-items-center text-gray-300 text-opacity-0,5 me-5 mb-2 mr-2">
     Должность</span>
    <span class="d-flex align-items-center text-gray-300 me-5 mb-2 mr-2">
    Санкт-Петербург</span>
    <span class="d-flex align-items-center text-gray-300 me-5 mb-2 mr-2">
    Емейл пользователя</span>
    <span class="d-flex align-items-center text-gray-300 me-5 fs-5 mb-2 mr-2">
            +7 (495)235-22-54</span>
            <span class="d-flex align-items-center text-gray-300 me-5  mb-2 mr-2">
                третий  пользователя!</span>
    </div>
    <!--end::Info-->
    <div class="d-flex">
    <span class="badge rounded-pill text-bg-danger fs-5 me-2">Danger</span>
    <span class="badge rounded-pill text-bg-success fs-5 me-2">Success</span>
    <span class="badge rounded-pill text-bg-danger fs-5 me-2">оу-2</span>
    <span class="badge rounded-pill text-bg-success fs-5 me-2">оу-3</span>
</div>

        </div>
            <!--end::User-->

    </div>
    <!--end::Title-->
    
                                                    </div>
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::Details-->
                                                <!--begin::Navs-->
                                                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="../../demo1/dist/account/overview.html">Overview</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/settings.html">Settings</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/security.html">Security</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/activity.html">Activity</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/billing.html">Billing</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/statements.html">Statements</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/referrals.html">Referrals</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/api-keys.html">API Keys</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                    <!--begin::Nav item-->
                                                    <li class="nav-item mt-2">
                                                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="../../demo1/dist/account/logs.html">Logs</a>
                                                    </li>
                                                    <!--end::Nav item-->
                                                </ul>
                                                <!--begin::Navs-->
                                            </div>
                                        </div>
                                        
                                        <div class="card my-5 w-100">

                                        </div>
    
    
                                            