Отчет по проверке №2739 
Объект проверки
Усово-3, Дом-16 (Москва и МО; Объектовая охрана; Москва)
МО, Рублево-успенское ш, поселок «Усово-3», уч. 16
Чек-лист Объект с оружием и спец.средствами.
Управляющий:Балаклеенко А.В
Дата и время начала: 06 нояб. 2022, 16:52
Дата и время завершения:06 нояб. 2022, 17:09 Продолжительность:0д, 0ч, 17мин, 42с
Результат проверки 91.18% 31 из 34 баллов Выявлено нарушений 1


Есть ли на входе табличка СП? 
Спросил ли у вас сотрудник которого вы встретили первым предписание? 
Наличие УЧО у сотрудников? 
Палка резиновая ПР-Т висит на поясе? Проверить у каждого сотрудника стоящего на посту.
Наручники БРС, висят на сотрудниках стоящих на постах?

Есть ли нарушение в ношении и эксплуатации оружия?
Если "да" объяснить сотруднику как правильно носить и обращаться с оружием, указать ФИО сотрудника.
Нарушено ли ношение формы у сотрудников стоящих на постах?
1. Копия Уведомления о начале оказания охранных услуг
2. Копия лицензии на осуществление частной охранной деятельности с приложением. 
3. Копия РХИ (Разрешение на хранение и использование оружия и патронов) с приложением.
4. Копия документов, подтверждающих право владения или пользования имуществом, подлежащим охране.
5. Копия договора об оказании охранных услуг. 
6. Копия Должностной инструкции частного охранника на объекте охраны с приложением. 
7. Копия образцов форменной одежды. 
8. Копия приказа об откомандировании служебного оружия и патронов к нему на охраняемый объект. 
9. Копия приказа об откомандировании специальных средств на охраняемый объект. 
10. Копия приказа о выделении сотрудников.
Проверить соответствие сотрудников смены и приказа.
11. График несения службы
Соответствуют ли документы Наб.дела, полной описи наб.дела?
Соответствует ли состав смены приказу о выделении сотрудников? 
Соответствует ли номер договора во всех документах с основным номером договора?
Заверены ли все копии документов печатями "С-П" ?
Сходятся ли в приказах адреса охраняемых объектов с указанным в Уведомлении?
Если "НЕТ", указать в каком приказе

Ведение Документации/Журналов.  
Общее состояние поста, чистота. 80%
Состояние документации?
Оценить состояние всех журналов и наблюдательного дела, по необходимости сделать общее фото Оценка 5 баллов.
Чистота поста? Оценка 5 баллов.










<div class="container-fluid h-50 w-100">
<app-events></app-events>
</div>
<!--  Для того чтобы работало сворачивание нужен вот такой скрипт. Можно ли его примандячить.

$(document).ready(function () {
	$('#sidebarCollapse').on('click', function () {
		$('#sidebar').toggleClass('active');
	});
}); -->

<div class="wrapper">
	<!-- Sidebar  -->
	<nav id="sidebar" [class.active]="classApplied">
		<div class="sidebar-header">
			<h3>Bootstrap Sidebar</h3>
		</div>

		<ul class="list-unstyled components">
			<p>Dummy Heading</p>
			<li class="active">
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a href="#">Home 1</a>
					</li>
					<li>
						<a href="#">Home 2</a>
					</li>
					<li>
						<a href="#">Home 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="#">Page 1</a>
					</li>
					<li>
						<a href="#">Page 2</a>
					</li>
					<li>
						<a href="#">Page 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Portfolio</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>

		<ul class="list-unstyled CTAs">
			<li>
				<a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
			</li>
			<li>
				<a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
			</li>
		</ul>
	</nav>

	<!-- Page Content  -->
	<div id="content">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">

				<button type="button" id="sidebarCollapse" class="btn btn-info" (click)="clickToggle()">
					<i class="fas fa-align-left"></i>
					<span>Toggle Sidebar</span>
				</button>
				<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-align-justify"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Page</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Page</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Page</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Page</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<h2>Collapsible Sidebar Using Bootstrap 4</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<div class="line"></div>

		<h2>Lorem Ipsum Dolor</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<div class="line"></div>

		<h2>Lorem Ipsum Dolor</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<div class="line"></div>

		<h3>Lorem Ipsum Dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>









<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
	Ссылка с помощью атрибута href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
	Кнопка с атрибутом data-bs-target
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
	  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Фильтры</h5>
	  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
	</div>
	<div class="offcanvas-body">
	  <div>
		Какой-то текст в качестве заполнителя. В реальной жизни у вас могут быть элементы, которые Вы выбрали. Нравится, текст, изображения, списки и т. д.
	  </div>
	</div>
  </div>