.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 600px;
  height: 600px;
  padding: 30px;
  border: 15px solid rgb(128, 180, 223);
  border-radius: 15px;
  margin-bottom: 50px;
}
li:hover{
  cursor: pointer;
  background-color: rgb(128, 180, 223);
}