<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
	Ссылка с помощью атрибута href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
	Кнопка с атрибутом data-bs-target
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
	  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Вне холста</h5>
	  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
	</div>
	<div class="offcanvas-body">
	  <div>
		Какой-то текст в качестве заполнителя. В реальной жизни у вас могут быть элементы, которые Вы выбрали. Нравится, текст, изображения, списки и т. д.
	  </div>
	  <div class="dropdown mt-3">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
		  Кнопка раскрывающегося списка
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  <li><a class="dropdown-item" href="#">Действие</a></li>
		  <li><a class="dropdown-item" href="#">Другое действие</a></li>
		  <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
		</ul>
	  </div>
	</div>
  </div>