<app-basement></app-basement>
<div class="card-body mt-2 p-10">
    <div class="row mb-6">
        <div class="col-lg-4 col-form-label fw-semibold fs-6 d-flex flex-column">
                <input type="file" id="imageObject" (change)="onFileChange($event)" #fileInput style="display:none"> 
            <span class="text-muted fs-6" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('imageObject').click()">Загрузить фото</span>
            <span class="text-muted  fs-6" style="cursor: pointer; text-decoration: underline;" (click)="clearFile()">Удалить фото</span>
        </div>
            
        <div class="col-lg-8">
                    <div class="image-input-wrapper" *ngIf="this.sObjectPath.length>0;then contentLoadObject else contentObjectDefault">Объект</div>
                    <ng-template #contentLoadObject class="image-input">
                    <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sObjectPath" alt="Объект" id="img" onclick="document.getElementById('imageObject').click()">
                    </ng-template>
                    <ng-template #contentObjectDefault>
                    <img class="rounded image-input-wrapper w-125px h-125px" src="/assets/img/free-icon-blank-house.png" onclick="document.getElementById('imageObject').click()">
                    </ng-template>
        </div>
</div>




<form class="mb-2 px-9">

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Объект</label>
    <div class="col-lg-8 fv-row">
      <input type="text" name="name" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.name"
      (blur)="myUpdateClick($event.target, 'name')"/>
    </div>


  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Тип объекта</label>
    <div class="col-lg-8 fv-row">
        <select name="ObjectType" data-control="selectObjectType" class="form-select form-select-solid form-select-lg fw-semibold" 
            (change)="onChangeSmallGuide($event, this.guideObjectType, 'id_object_type')"
            [(ngModel)]="this.currentObject.object_type">
            <option *ngFor="let got of this.guideObjectType" [value]="got.name">{{got.name}}</option>
        </select>
    </div>
  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Статус</label>
    <div class="col-lg-8 fv-row">
      <select name="PostStatus" data-control="selectPostStatus" class="form-select form-select-solid form-select-lg fw-semibold" 
              (change)="onChangeSmallGuide($event, this.guidePostStatus, 'post_status')"
              [(ngModel)]="this.currentObject.post_status">
         <option *ngFor="let gps of this.guidePostStatus" [value]="gps.name">{{gps.name}}</option>
      </select>
    </div>
  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Опции</label>
    <div class="col-lg-8 fv-row">
      <input type="text" name="options" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.options"
      (blur)="myUpdateClick($event.target, 'options')"/>
    </div>
  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Под охраной</label>
    <div class="col-lg-8 fv-row">
      <select name="organization" data-control="selectOrganization" class="form-select form-select-solid form-select-lg fw-semibold" 
              (change)="onChangeSmallGuide($event, this.guideOrganization, 'id_organization')"
              [(ngModel)]="this.currentObject.cur_organization">
          <option *ngFor="let go of this.guideOrganization" [value]="go.name">{{go.name}}</option>
      </select>
    </div>
  </div>  


  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Телефон</label>
    <div class="col-lg-8 fv-row">
      <input type="text" name="phone" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.phone"
      (blur)="myUpdateClick($event.target, 'phone')"/>
    </div>
  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Адрес</label>
    <div class="col-lg-8 fv-row">
      <input type="text" name="address" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.address"
      (blur)="myUpdateClick($event.target, 'address')"/>
    </div>
  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Яндекс Карта</label>
    <div class="col-lg-8 fv-row">
      <input type="text" name="yandex_maps" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.yandex_maps"
      (blur)="myUpdateClick($event.target, 'yandex_maps')"/>
      <a href="{{ this.currentObject.yandex_maps}}" class="btn btn-primary btn-sm">Яндекс</a>
    </div>
  </div>  


  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Google Карта</label>
    <div class="col-lg-8 fv-row">
      <input type="text" name="google_maps" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.google_maps"
      (blur)="myUpdateClick($event.target, 'google_maps')"/>
      <a href="{{ this.currentObject.google_maps}}" class="btn btn-primary btn-sm">Google</a>
    </div>
  </div>  


  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">НОО</label>
    <div class="col-lg-8 fv-row">
        <select name="senjorguard" data-control="selectSenjorGuard" class="form-select form-select-solid form-select-lg fw-semibold" 
                (change)="onChangeSenjorGuard($event, this.guideSenjorGuard, 'id_senjor_guard')"
                [(ngModel)]="this.currentObject.senjor_guard">
        <option *ngFor="let sg of this.guideSenjorGuard" [value]="sg.fio">{{sg.fio}}</option>
      </select>
    </div>
  </div>  

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Выставлен Дата</label>
    <div class="col-lg-8 fv-row">
      <input type="date" name="postwassetdate" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.postwassetdate_str"
      (change)="setDate($event, 'postwasset_date')" />
    </div>
  </div>  


  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Снят Дата</label>
    <div class="col-lg-8 fv-row">
      <input type="date" name="withdrawaldate" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
      [value]="this.currentObject.withdrawaldate_str"
      (change)="setDate($event, 'withdrawal_date')" />

    </div>
  </div>  

  --

  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">МТР</label>
    <div class="col-lg-8 fv-row">
      <select name="MTR" data-control="selectMTR" class="form-select form-select-solid form-select-lg fw-semibold" 
              (change)="onChangeSmallGuide($event, this.guideMTR, 'id_mtr')"
              [(ngModel)]="this.currentObject.MTR">
          <option *ngFor="let gm of this.guideMTR" [value]="gm.name">{{gm.name}}</option>
      </select>
    </div>
  </div>  


  <div class="row mb-6">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label  fw-semibold fs-6">Клиент</label>
    <div class="col-lg-8 fv-row">
      <select name="customer" data-control="selectCustomer" class="form-select form-select-solid form-select-lg fw-semibold" 
              (change)="onChangeSmallGuide($event, this.guideCustomers, 'id_customer')"
              [(ngModel)]="this.currentObject.customer">
          <option *ngFor="let gc of this.guideCustomers" [value]="gc.name">{{gc.name}}</option>
      </select>
    </div>
  </div>  


</form>

<button class="btn btn-secondary" (click)="clickBack()">Выход</button>

