<table>
    <thead>
     <tr>

        <th>#</th>
        <th>Тип</th> 
        <th>Объект</th>
        <th>Оперативный</th>
        <th>Дата время</th>
        <th>Подробности</th>
        
     </tr>
      </thead>
     
      <tbody>
         
      <tr>
       <td>1</td>
       <td>Тип</td>
       <td>Объект</td>
       <td>Салугин Владислав Николаевич </td>
       <td>26.10.2023 16:12</td>
       <td>Пьяный охранник</td>
       </tr>

       <tr>
         <td>1</td>
         <td>Тип</td>
         <td>Объект</td>
         <td>Салугин Владислав Николаевич </td>
         <td>15.02.2023 19:55</td>
         <td>Пьяный охранник</td>
         </tr>

   </tbody>
      </table>
