<angular-org-chart [nodeTemplate]="nodeTemplate" [data]="tree" #exampleChart="orgChart" (dragover)="onDragOver($event)">

    <!-- OPTIONAL: zoom button with an ugly png -->
    <button zoom-button class="zoom-button" (click)="exampleChart.toggleZoom()">
        <img src="assets/zoom-in-out.png" width="100%" alt="ZoomInOut">
    </button>

</angular-org-chart>

<!-- Node Template -->
<ng-template #nodeTemplate let-node>
    <div class="chart-node" (dragstart)="dragstart($event)" (dragend)="onDragEnd($event)" (dragover)="onDragOver($event)">
        <div class="name">{{node?.name}}</div>
        <div class="box-line">
            <img [src]="node?.image" class="class='rounded image-input-wrapper w-50px h-50px">
            <span class="badge rounded-pill text-bg-info fs-5">6</span>
        </div>        
        
        <div class="description">{{node?.description}} </div>
        <!-- An ugly button to fold/unfold -->
        <div *ngIf="node.children.length" (click)="node.hideChildren = !node.hideChildren" class="tree-fold-btn">{{node.hideChildren ? '+' : '-'}}</div>
    </div>
</ng-template>ы