.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
.card{
    display: flex;
    width: 800px;
    margin: auto;
    background-color: transparent;
}
card-body{
    align-items: center;
    height: auto;
}
h3, h4, h5{
    justify-items: center;
    margin-bottom: 1px;
}
.check-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px !important;
    margin-right: auto;
    margin-bottom: 20px;
}
.form-check-label{
    font-size: 15px;
    color: black;
}