<app-basement></app-basement>
<div class="wrapper">
   <div class="card w-50">
     <div class="card-body pt-2">
      <div class="card-title fs-2">Отчет по проверке № {{ReportNumber}}</div>
        <div class="card-line">
      <span class="text-muted fw-semibold fs-4 my-0">Объект проверки</span>
     <div class="fs-4 text-muted fw-semibold my-0">{{this.ProtectedObject.name}}</div>
      </div>

      <div class="fs-5 text-muted fw-semibold">{{this.ProtectedObject.address}}</div>


      <span class="text-muted fw-semibold fs-4">Дата и время начала</span>
         <div class="card-line">
     <input type="date" /> 
     <input type="time" />
         </div> 

    
         </div> 
     
         <div class="card-line">
         <span class="text-muted fw-semibold fs-4">Проверяющий</span>
        <div class="fs-4 text-muted fw-semibold my-2" >{{fio}}</div>
        </div>

        <div class="card-line">
        <h4>Результат проверки</h4>
        <h2>{{resultCheck}}%</h2>
        <h4>Выявлено нарушений</h4>
        <h2> {{countTrouble}}</h2>
     </div>
</div>

</div> <!-- card --> 

   <div *ngFor="let question of arrQuestion; let i = index" class="card w-50 mt-3 p-0">
    <div class="card-body">
      <h4 class="card-title mb-3">{{question.name}} </h4>

      <small *ngIf="question.comment.length > 0" class="form-text text-muted">{{question.comment}}</small>
      
      <!-- Блок Да-нет  -->
        <div *ngIf="question.grade == 1" class="w-100 check-line"> 
          <div class="form-check">
              <input class="form-check-input" type="radio" name="radioName{{question.id}}" id="radio1Id{{question.id}}" value="option1">
              <label class="form-check-label" for="radio1Id{{question.id}}">
                Да
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="radioName{{question.id}}" id="radio2Id{{question.id}}" value="option2">
              <label class="form-check-label" for="radio2Id{{question.id}}">
                Нет
             </label>
          </div>
        </div>
        <!--Конец Блок Да-нет  -->

        <!--Блок 1-2-3-4-5  -->
        <div *ngIf="question.grade == 5" class="w-100 check-line"> 
              <div *ngFor="let s of [1,2,3,4,5]">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioName{{question.id}}" id="radio{{s}}Id{{question.id}}" value="option{{s}}">
                  <label class="form-check-label" for="radio{{s}}Id{{question.id}}">
                    {{s}}
                  </label>
                </div>

              </div>
        </div>        
        <!--Конец Блок 1-2-3-4-5  -->

        <!--Блок Поле ввода  -->
        <div *ngIf="question.input" class="w-50 check-line"> 
          <input type="text" name="comment{{question.id}}" id="comment{{question.id}}" class="form-control"> 
         </div>
        <!--Конец Блок Поле ввода  -->


    </div> 
   </div>  

div> <!--</ END wrapper -->






<!--
Отчет по проверке №2739 
Объект проверки
Усово-3, Дом-16 (Москва и МО; Объектовая охрана; Москва)
МО, Рублево-успенское ш, поселок «Усово-3», уч. 16
Чек-лист Объект с оружием и спец.средствами.
Управляющий:Балаклеенко А.В
Дата и время начала: 06 нояб. 2022, 16:52
Дата и время завершения:06 нояб. 2022, 17:09 Продолжительность:0д, 0ч, 17мин, 42с
Результат проверки 91.18% 31 из 34 баллов Выявлено нарушений 1




Есть ли на входе табличка СП? 
Спросил ли у вас сотрудник которого вы встретили первым предписание? 
Наличие УЧО у сотрудников? 
Палка резиновая ПР-Т висит на поясе? Проверить у каждого сотрудника стоящего на посту.
Наручники БРС, висят на сотрудниках стоящих на постах?

Есть ли нарушение в ношении и эксплуатации оружия?
Если "да" объяснить сотруднику как правильно носить и обращаться с оружием, указать ФИО сотрудника.
Нарушено ли ношение формы у сотрудников стоящих на постах?
1. Копия Уведомления о начале оказания охранных услуг
2. Копия лицензии на осуществление частной охранной деятельности с приложением. 
3. Копия РХИ (Разрешение на хранение и использование оружия и патронов) с приложением.
4. Копия документов, подтверждающих право владения или пользования имуществом, подлежащим охране.
5. Копия договора об оказании охранных услуг. 
6. Копия Должностной инструкции частного охранника на объекте охраны с приложением. 
7. Копия образцов форменной одежды. 
8. Копия приказа об откомандировании служебного оружия и патронов к нему на охраняемый объект. 
9. Копия приказа об откомандировании специальных средств на охраняемый объект. 
10. Копия приказа о выделении сотрудников.
Проверить соответствие сотрудников смены и приказа.
11. График несения службы
Соответствуют ли документы Наб.дела, полной описи наб.дела?
Соответствует ли состав смены приказу о выделении сотрудников? 
Соответствует ли номер договора во всех документах с основным номером договора?
Заверены ли все копии документов печатями "С-П" ?
Сходятся ли в приказах адреса охраняемых объектов с указанным в Уведомлении?
Если "НЕТ", указать в каком приказе

Ведение Документации/Журналов.  
Общее состояние поста, чистота. 80%
Состояние документации?
Оценить состояние всех журналов и наблюдательного дела, по необходимости сделать общее фото Оценка 5 баллов.
Чистота поста? Оценка 5 баллов.
-->