<div class="wrapper">
   <div class="card w-50">
    <div class="card-body">
      <h3 class="card-title">Отчет по проверке №2739</h3>
     <h4>Объект проверки</h4>
     <div class="fs-5 text-muted fw-semibold" >МО, Рублево-успенское ш, поселок «Усово-3», уч. 16</div>
     <h4 >Проверяющий</h4>
     <div class="fs-4 text-muted fw-semibold my-2" >Петров Иван</div>
     <div class="flex-row">
        <h4>Результат проверки</h4>
        <h2>91,2%</h2>
        <h4>Выявлено нарушений</h4>
        <h2>1</h2>
     </div>
  </div>

  

    </div>


   <div class="card w-50 mt-3 p-0">
    <div class="card-body">
      <h4 class="card-title mb-3">Есть ли на входе табличка СП? </h4>
      
      <div class="w-100 check-line"> 
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Да
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Нет
            </label>
          </div>
    </div>

  </div> 
 </div>  
 
 <div class="card w-50 mt-3 p-0">
    <div class="card-body">
      <h4 class="card-title mb-3">Спросил ли у вас сотрудник которого вы встретили первым предписание?</h4>
      
      <div class="w-50 check-line"> 

    <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Да
            </label>
    </div>
          
    <div class="form-check flex-row">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Нет
            </label>
          </div>
          
     </div>
  </div> 
 </div>       

 <div class="card w-50 mt-3 p-0">
    <div class="card-body">
      <h4 class="card-title mb-3">Палка резиновая ПР-Т висит на поясе?</h4>
      <div class="w-50 check-line"> 

    <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Да
            </label>
    </div>
          
    <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Нет
            </label>
          </div>
          
     </div>
  </div> 
 </div>       

 <div class="card w-50 mt-3 p-0">
  <div class="card-body">
    <h4 class="card-title mb-3">Наручники БРС, висят на сотрудниках стоящих на постах?</h4>
    <div class="w-50 check-line"> 

  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Да
          </label>
  </div>
        
  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Нет
          </label>
        </div>
        
   </div>
</div> 
</div>      

<div class="card w-50 mt-3 p-0">
  <div class="card-body">
    <h4 class="card-title mb-3">Есть ли нарушение в ношении и эксплуатации оружия?</h4>
    <div class="w-50 check-line"> 

  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Да
          </label>
  </div>
        
  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Нет
          </label>
        </div>
        
   </div>
</div> 
</div>        

<div class="card w-50 mt-3 p-0">
  <div class="card-body">
    <h4 class="card-title mb-3">Нарушено ли ношение формы у сотрудников стоящих на постах?</h4>
    <div class="w-50 check-line"> 

  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Да
          </label>
  </div>
        
  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Нет
          </label>
        </div>
        
   </div>
</div> 
</div>       

<div class="card w-50 mt-3 p-0">
  <div class="card-body">
    <h4 class="card-title mb-3">В Наличие копия Уведомления о начале оказания охранных услуг?</h4>
    <div class="w-50 check-line"> 

  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Да
          </label>
  </div>
        
  <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Нет
          </label>
        </div>
        
   </div>
</div> 
</div>       



</div> <!-- END wrapper -->




<div class="container">
    <div class="row">
 <div class="col">
<h4>Отчет по проверке №2739 </h4>

<span>Усово-3, Дом-16 (Москва и МО; Объектовая охрана; Москва)</span>
<h4>Адрес</h4>

   </div>

</div>


    <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Состояние документации?</label>
      <input type="text" class="form-control" id="documentStatus" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Оценить состояние всех журналов и наблюдательного дела.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>        .   
           .     












Отчет по проверке №2739 
Объект проверки
Усово-3, Дом-16 (Москва и МО; Объектовая охрана; Москва)
МО, Рублево-успенское ш, поселок «Усово-3», уч. 16
Чек-лист Объект с оружием и спец.средствами.
Управляющий:Балаклеенко А.В
Дата и время начала: 06 нояб. 2022, 16:52
Дата и время завершения:06 нояб. 2022, 17:09 Продолжительность:0д, 0ч, 17мин, 42с
Результат проверки 91.18% 31 из 34 баллов Выявлено нарушений 1




Есть ли на входе табличка СП? 
Спросил ли у вас сотрудник которого вы встретили первым предписание? 
Наличие УЧО у сотрудников? 
Палка резиновая ПР-Т висит на поясе? Проверить у каждого сотрудника стоящего на посту.
Наручники БРС, висят на сотрудниках стоящих на постах?

Есть ли нарушение в ношении и эксплуатации оружия?
Если "да" объяснить сотруднику как правильно носить и обращаться с оружием, указать ФИО сотрудника.
Нарушено ли ношение формы у сотрудников стоящих на постах?
1. Копия Уведомления о начале оказания охранных услуг
2. Копия лицензии на осуществление частной охранной деятельности с приложением. 
3. Копия РХИ (Разрешение на хранение и использование оружия и патронов) с приложением.
4. Копия документов, подтверждающих право владения или пользования имуществом, подлежащим охране.
5. Копия договора об оказании охранных услуг. 
6. Копия Должностной инструкции частного охранника на объекте охраны с приложением. 
7. Копия образцов форменной одежды. 
8. Копия приказа об откомандировании служебного оружия и патронов к нему на охраняемый объект. 
9. Копия приказа об откомандировании специальных средств на охраняемый объект. 
10. Копия приказа о выделении сотрудников.
Проверить соответствие сотрудников смены и приказа.
11. График несения службы
Соответствуют ли документы Наб.дела, полной описи наб.дела?
Соответствует ли состав смены приказу о выделении сотрудников? 
Соответствует ли номер договора во всех документах с основным номером договора?
Заверены ли все копии документов печатями "С-П" ?
Сходятся ли в приказах адреса охраняемых объектов с указанным в Уведомлении?
Если "НЕТ", указать в каком приказе

Ведение Документации/Журналов.  
Общее состояние поста, чистота. 80%
Состояние документации?
Оценить состояние всех журналов и наблюдательного дела, по необходимости сделать общее фото Оценка 5 баллов.
Чистота поста? Оценка 5 баллов.
