@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

ul .list-group{
font-family: 'Lato', sans-serif;
  width: 500px;
	font-weight: 500;
  overflow-y: scroll !important;
  max-height: 100px !important;
}
  
ul .list-group{
  font-family: 'Lato', sans-serif;
    width: 500px;
  font-weight: 600;
  font-size: 1em;
   cursor: pointer;
   overflow-y: scroll;
   margin: 0 15px;
 }

.list-group-item {
	background: transparent;
	height: 50px;
  font-size: 1.2em;
  padding: 0 15px;
  line-height: 50px;
}

.list-group-item:hover {
	background: #007bff;
  color: white;
  cursor: pointer;
}

label{
  margin-left: 1.2em;
  font-size: 1em;
  line-height: 50px;
}
input{
  width: 20px;
  height: 20px;
  line-height: 50px;
}