<app-basement></app-basement>

<div class="container p-5">
    <div class="row">
      <div class="col">
        <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of users" (click)="clickAccess(user.id)" > {{user.fio}} </li>
        </ul>

      </div>
      <div class="col">
        
        <ul class="list-group">
                <li class="list-group-item" *ngFor="let menu of accessUserMenu">
                    <div>
                        <input type="checkbox" [id]="menu.id_menu" 
                               [name]="menu.id_menu" 
                               [checked]="menu.boolAccess" 
                               (change)="fieldsChange($event.currentTarget, menu.id_menu, menu.RefName)" />
                        <label [for]="menu.id_menu">{{menu.RusName}}</label>
                      </div>
                </li>
        </ul>

      </div>
    </div>