
fieldset
{
  border-radius: 5%;	
  border: 5px solid #fbf9f9;
  /* Для хороших браузеров */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  -khtml-border-radius: 55px; /* KHTML */
  border-radius: 5px; /* CSS3 */
}
input-group{
  display: flex;
  flex-direction:row !important;
  flex-wrap: nowrap !important;
  width: 100%;
  height: 60px;
}

label{
  padding-left: 20px;
  padding-right: 20px;
}

.material {
    height: 800px;
    width: 99%;
}
  
  /* .ngx-datatable.material .datatable-header {
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc !important;
    font-size: 13px;
  } */
  
  :host ::ng-deep.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: center;
    font-weight: 650;
    background-color:#f5f5f5;
    color: #222122;
    font-size: 13px;
    border:1px dashed#cacaca !important;
  
  }
  
  :host ::ng-deep.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
    cursor: pointer;
    padding: 0 5px;
  }
  
  :host ::ng-deep.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
  }
  
  :host ::ng-deep .datatable-body-cell {
    background-color: rgb(255, 255, 255);
    height: auto !important;
    font-size: 1em !important;
    overflow: auto;
    border: 1px dashed #cacaca;
    text-align: center !important;
    white-space: pre-wrap !important;
    padding: 1px;
    border: 1px dashed #cacaca !important;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
    
  select {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance:none;
    text-align: center;
    vertical-align: middle;
  }
  
img:hover{
  cursor: pointer;

}

.btn.btn-secondary{
  color: #fff;
  background-color: #5a6268 !important;
  font-weight: 600 !important;
 }
 .btn.btn-secondary:hover{
color: white !important;
font-weight: bold !important;
background-color: #5a6268 !important; 
cursor: pointer;
}
.btn.btn-primary{
  color: #fff;
  background-color: #386bc0 !important;
  font-weight: semibold !important;
}
  .btn.btn-primary:hover{
  color: white !important;
  font-weight: bold !important;
  background-color: #386bc0 !important; 
  cursor: pointer;
  } 