<div class="wrapper">
<div class="card w-50 mt-3">
  <div class="card-body pt-2 fs-2">
   <div class="card-title fs-2">Отчет по проверке № {{ this.infoCheck.id }} </div>
     <div class="card-line">
     <span class="text-muted fw-semibold fs-4 my-0">Объект проверки</span>
     <div class="fs-4 text-muted fw-semibold my-0">{{this.infoCheck.name}}</div>
     </div>
    <div class="fs-5 text-muted fw-semibold"> {{this.infoCheck.address}}Адрес не вывелся</div>
    
    <div class="card-line">
      <span class="text-muted fw-semibold fs-4">Дата и время начала</span>  
      <span class="text-muted fw-semibold fs-4"> {{ this.infoCheck.DateBegin | date:'dd.MM.yyyy HH:mm' }}</span>
    </div>

    <div class="card-line">
      <span class="text-muted fw-semibold fs-4">Дата и время окончания</span>  
      <span class="text-muted fw-semibold fs-4">{{ this.infoCheck.DateEnd | date:'dd.MM.yyyy HH:mm' }}</span>
    </div>
  
    <div class="card-line">
    <span class="text-muted fw-semibold fs-4">Проверяющий</span>
    <span class="text-muted fw-semibold fs-4">{{ this.infoCheck.fio }}</span>
    </div>
     
    <div class="card-line">
    <span class="text-muted fw-semibold fs-4">Результат проверки</span>
    <span class="text-muted fw-semibold fs-4">{{ this.infoCheck.average_grade }}% </span>
    </div> 
   
    <div class="card-line">
      <span class="text-muted fw-semibold fs-4">Выявлено нарушений</span>
      <span class="text-muted fw-semibold fs-4">{{ this.infoCheck.count_trouble }} </span>
    </div>

</div>
 </div> 

<ul>
  <li class="card-body fs-5"
    
  *ngFor="let ch of this.arrayCheck">

    <div class="d-flex flex-column" *ngIf="ch.grade.toString() == '0'" >
      <span class="badge badge-primary fs-5 mb-4">{{ch.name}}</span>  
      <span class="badge badge-danger fs-4 mb-4">{{ch.grade}}</span>
    </div>

    <div class="d-flex flex-column" *ngIf="ch.grade.toString() !== '0'" >
      <span class="badge badge-primary fs-5 mb-4"> {{ch.name}}</span>
      <span class="badge badge-success fs-4">{{ch.grade}}</span> 
    </div>

    <div class="w-100">
      <span class="comment">{{ch.comment}}</span>
    </div> 
  </li>
</ul>  
