.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
.card{
    display: flex;
    width: 800px;
    margin: auto;
    background-color: transparent;
}
card-body{
    align-items: center;
    height: auto;
    padding-top: 2px !important;
}

.check-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px !important;
    height: 30px;
    margin-right: auto;
    margin: 10px 0;
    line-height: 20px;
    margin: 0;
    line-height: 30px;
}
.card-line{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px !important;
    padding: 10px 0;
    height: auto;
}

.form-check-label{
    display: flex;
    font-size: 15px;
    line-height: 10px;
    color: rgb(131, 130, 130);
}

.form-check-label{
    font-size: 15px;
    color: black;
    margin-left: 10px;
}

li {
    width: 600px;
    height: 50px;
    border: 1px solid #ec2c2c;
}