<form class="m-0">
    <div class="row">
      <div class="col-lg-4 col-md-6 oneCol">
        <div class="img-block">
            <div class="photo">
                        <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
                        <ng-template #contentLoadAvatar class="image-input">
                        <img   [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
                        </ng-template>
                        <ng-template #contentDefault>
                        <img class="rounded image-input-wrapper w-117px h-117px" src="/assets/img/usernull.jpg" onclick="document.getElementById('avatar').click()">
                        </ng-template>
            </div>
            
                
                <div class="text-block">
                <div class="fio">
                            <input type="text" name="fio" class="form-control fc-fio readonly" 
                                [value]="this.settingData.fio"
                                (blur)="myUpdateClick($event.target, 'fio')"/>
                            </div> 
                            <div class="status-text">25 лет, Суточник </div>  
                            
                              <div class=" btn-line">
                                <button class="btn-chat">чат</button>
                                <button class="btn-report">отчёт</button>
                              </div>
                </div>
        </div>

        <div class="oneCol-line">
            <span class="head-line">Телефон:</span>
            <div class=" text-blue">{{this.settingData.phone}}</div>
        </div>  

        <div class="oneCol-line">
            <span class="head-line">Разряд:</span>
            <div class=" text-blue">{{this.settingData.rank}}</div>
        </div> 

        <div class="oneCol-line">
            <span class="head-line">УЧО:</span>
            <div class=" text-blue">№412121</div>
        </div>

        <div class="oneCol-line">
            <span class="head-line">ЛК:</span>
            <div class=" text-blue">
                <div class=" phone-number">
                    <input type="tel" name="phone1" class="text-blue"
                        [value]="this.settingData.phone"
                        (blur)="myUpdateClick($event.target, 'phone')"/>
                    </div>

            </div>
        </div> 

        <div class="oneCol-line">
            <span class="head-line">РСЛА:</span>
            <div class=" text-blue">
                <div class=" phone-number">
                    <input type="tel" name="phone1" class="text-blue"
                        [value]="this.settingData.phone"
                        (blur)="myUpdateClick($event.target, 'phone')"/>
                    </div>

            </div>
        </div> 

        

        <div class="oneCol-line">
            <span class="head-line">Объект:</span>

            <div class=" text-blue">

                {{this.settingProtectedObject.name_object}}
                
<!--
                <select name="status" data-control="selectStatus" class="form-select form-select-solid form-select-lg fw-semibold" 
                     (change)="onChangeProtectedObject($event, this.guideProtectedObject, this.settingProtectedObject.id || 0)" 
                     [(ngModel)]="this.settingProtectedObject.name_object">
                  <option  *ngFor="let g of this.guideProtectedObject" [value]="g.name">{{g.name}}>
                </select>
-->                                


        </div>
            </div> 

        <div class="oneCol-line">
            <img src="/assets/img/columns1.png" width="18" height="18" alt="Сводная" class="img-ico">
            <span class="label-black">Сводная</span>
        </div>

        <div class="oneCol-line">
           <div class="general-info"> 
        <img src="/assets/img/info1.png" width="16px" height="16px" alt="Информация" class="img-ico">
        <span class="label-summary">Общая информация</span>
        </div>
        </div>
        
        <div class="oneCol-line">
            <img src="/assets/img/sitemap.png" width="16px" height="16px" alt="Информация" class="img-ico">
            <span class="label-black">Штатная структура</span>
        </div>

        <div class="oneCol-line">
            <img src="/assets/img/fizik-ico.png" width="16px" height="16px" alt="Физические данные" class="img-ico">
            <span class="label-black">Физические данные</span>
        </div>   
        
        <div class="oneCol-line">
            <img src="/assets/img/standards-Icon.png" width="16px" height="16px" alt="Нормативы" class="img-ico">
            <span class="label-black">Нормативы</span>
        </div>

        <div class="oneCol-line">
            <img src="/assets/img/passport.png" width="16px" height="16px" alt="Паспорт" class="img-ico">
            <span class="label-black">Паспорт</span>
        </div>

        <div class="oneCol-line">
            <img src="/assets/img/human-resources.png" width="16px" height="16px" alt="Кадры и бухгалтерия" class="img-ico">
            <span class="label-black">Кадры и бухгалтерия</span>
        </div>

        <div class="oneCol-line">
            <img src="/assets/img/docs.png" width="16px" height="16px" alt="Документы сотрудника" class="img-ico">
            <span class="label-black">Документы сотрудника</span>

        </div>
        <div class="onecol-line">            
         <div class="head-line"> Телефон: </div>
           
        <div class=" text-blue">
            <input type="tel" name="phone1" class="text-blue"
            [value]="this.settingData.phone"
            (blur)="myUpdateClick($event.target, 'phone')"/>
           
        </div>

        </div>         


        
         <div class="onecol-line">
            <div class="head-line"> Разряд: </div>
            <div class=" text-blue">
            <input type="tel" name="phone1" class="text-blue"
                [value]="this.settingData.phone"
                (blur)="myUpdateClick($event.target, 'phone')"/>
            </div>
            <div class="row col-line2">
                <!--begin::Label-->
                <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"></label> -->
    
                <div class="col-lg-8 fv-row">Имя
                    <input name="surname" readonly class="form-control form-control-lg form-control-solid form-select-lg fw-normal name" 
                               [value]="this.settingData.comment"
                               (blur)="myUpdateClick($event.target, 'comment')"/>
                </div>
                
            </div>        
        </div>
       
        <div class="onecol-line">
            <div class="head-line"> ЛК: </div>
            <div class=" phone-number">
            <input type="tel" name="phone1" class="phone-number"
                [value]="this.settingData.phone"
                (blur)="myUpdateClick($event.target, 'phone')"/>
            </div>
        </div>

        <div class="col-line">
            <div class="head-line"> РСЛА: </div>
            <div class=" phone-number">
            <input type="tel" name="phone1" class="phone-number"
                [value]="this.settingData.phone"
                (blur)="myUpdateClick($event.target, 'phone')"/>
            </div>
        </div>

      </div> <!-- END oneCOL -->
  
      <div class="col-lg-8 h-1470px twoCol">
        <div class="general-information">Общая информация</div>
        <div class="text-photo">Фотография сотрудника</div>
        <div class="big-photo">
            
            <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
            <ng-template #contentLoadAvatar class="image-input">
            <img   [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
            </ng-template>
            <ng-template #contentDefault>
            <img class="rounded" src="/assets/img/usernull.jpg" onclick="document.getElementById('avatar').click()">
            <img class="dots-photo" src="/assets/img/dots.png">
            </ng-template>
        </div>
        <div class="col-line2">
            <div class="type-block">Тип сотрудника
                    <select name="typeperson" data-control="selectTypeperson" class="form-select type-select" 
                        (change)="onChangeSmallGuide($event, this.guideTypeperson, 'id_typeperson')"
                        [(ngModel)]="this.settingData.type">
                        <option *ngFor="let gtp of this.guideTypeperson" [value]="gtp.name">{{gtp.name}}</option>
                    </select>
            </div> 
            <div class="col-lg-8 fv-row comment-block">
                <span>Метки</span>
                <input name="comment" class="form-control form-control-lg form-control-solid form-select-lg fw-normal input-comment ;
                width: 265px;
                height: 41px;
                margin: auto 0;
                color: #6C7293;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                background-color: #fff;" 
                           [value]="this.settingData.comment"
                           (blur)="myUpdateClick($event.target, 'comment')"/>
            </div>
        </div>              
                
            <div class="row col-line2">
                <!--begin::Label-->
                <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"></label> -->
    
                <div class="col-lg-8 fv-row">Фамилия
                    <input name="surname" class="form-control form-control-lg form-control-solid form-select-lg fw-normal surname" 
                               [value]="this.settingData.comment"
                               (blur)="myUpdateClick($event.target, 'comment')"/>
                </div>
            </div>     
            <div class="row mb-6">
                <!--begin::Label-->
                <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"></label> -->
    
                <div class="col-lg-8 fv-row">Имя
                    <input name="surname" class="form-control form-control-lg form-control-solid form-select-lg fw-normal name" 
                               [value]="this.settingData.comment"
                               (blur)="myUpdateClick($event.target, 'comment')"/>
                </div>
            </div>     
            <div class="col-line2">
                <!--begin::Label-->
                <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"></label> -->
    
                <div class="col-lg-8 fv-row">Отчество
                    <input name="surname" class="form-control form-control-lg form-control-solid form-select-lg fw-normal name" 
                               [value]="this.settingData.comment"
                               (blur)="myUpdateClick($event.target, 'comment')"/>
                </div>
            </div>     
            <div class="col-line2">
            <div class="row mb-6">
                <div class="gender-block">
                <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"</label> -->
                <div class="col-lg-8 fv-row">Пол
                    <select name="gender" data-control="selectGender" class="select-gender" 
                        (change)="onChangeSmallGuide($event, this.guideGender, 'id_gender')"
                        [(ngModel)]="this.settingData.gender">
                        <option *ngFor="let gg of this.guideGender" [value]="gg.name">{{gg.name}}</option>
                    </select>
                </div>
            </div> 
         </div>  

            
          <div class="birth-block">
             <div class="row mb-6">
            <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"</label> -->
                <div class="col-lg-8 fv-row">Дата рождения
                    <input type="date" name="staffDateBirth" class="form-control form-control-lg form-control-solid form-select-lg fw-normal DateBirth" 
                            [value]="this.settingData.DateBirth_str"
                           (change)="setDate($event, 'DateBirth')" />
                </div> 
            </div>
                </div>             
 
                </div> 
                  </div>
 
                </div>
<input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display: none"> 
                            <span class="text-muted fs-6" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('avatar').click()">Загрузить фото</span>
                            <span class="text-muted  fs-6" style="cursor: pointer; text-decoration: underline;" (click)="clearFile()">Удалить фото</span>


    <!-- <form class="m-0 h-auto" [formGroup]="form">
      
        <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
        <ng-template #contentLoadAvatar class="image-input">
        <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
        </ng-template>
        <ng-template #contentDefault>
          <img class="rounded image-input-wrapper w-125px h-125px"src="/assets/img/usernull.jpg"onclick="document.getElementById('avatar').click()">
        </ng-template>
    </form> -->
       <!-- <div class="one mb-0">
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
          <label class="text-muted my-2 fs-4" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('avatar').click()">Загрузить фото</label>
          <label class="text-muted  my-2 fs-4" style="display: block; cursor: pointer; text-decoration: underline;" (click)="clearFile()">Очистить</label>
     </div> -->
      
    <div class="card-body mt-2 p-10">
            <div class="row mb-6">
                <!-- <div class="col-lg-4 col-form-label fw-semibold fs-6 d-flex flex-column"> -->
                       
                <!-- </div> -->
                    
               
            </div>
            
            
    
            <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        <span class="required">Компания</span>
                        </label>
    
                    <div class="col-lg-8 fv-row">
                        <select name="organization" data-control="selectOrganization" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="onChangeSmallGuide($event, this.guideOrganization, 'id_organization')"
                            [(ngModel)]="this.settingData.organization">
                            <option *ngFor="let go of this.guideOrganization" [value]="go.name">{{go.name}}</option>
                       </select>
                    </div>
            </div>
    
             <div class="row mb-6">
    
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Отдел</label>
                <div class="col-lg-8 fv-row">
                    <select name="department" data-control="selectDepartment" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="onChangeSmallGuide($event, this.guideDepartment, 'id_department')"
                            [(ngModel)]="this.settingData.department">
                            <option *ngFor="let gd of this.guideDepartment" [value]="gd.name">{{gd.name}}</option>
                    </select>
                  </div>
            </div>       
            
            <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-semibold fs-6">
                    <span class="required">Телефон 1</span>
                    <span class="ms-1" data-bs-toggle="tooltip" title="Phone number1">
                    </span>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="tel" name="phone1" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" placeholder="Phone number" 
                           [value]="this.settingData.phone"
                           (blur)="myUpdateClick($event.target, 'phone')"/>
                </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
            </div>

            <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-semibold fs-6">
                    <span class="required">Телефон 2</span>
                    <span class="ms-1" data-bs-toggle="tooltip" title="Phone number2">
                    </span>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="tel" name="phone2" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" placeholder="Phone number" 
                    [value]="this.settingData.phone2"
                    (blur)="myUpdateClick($event.target, 'phone2')"/>
                </div>
                
            </div>

            
            <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-semibold fs-6">Руководитель</label>
                
                <div class="col-lg-8 fv-row">
                    <select name="senjorguard" data-control="selectSenjorGuard" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="onChangeSenjorGuard($event, this.guideSenjorGuard, 'id_senjor_guard')"
                            [(ngModel)]="this.settingData.senjor_guard"  >
                        <option *ngFor="let sg of this.guideSenjorGuard" [value]="sg.fio">{{sg.fio}}</option>
                    </select>
                </div>
                
            </div>
    
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Должность</label>
                <div class="col-lg-8 fv-row">
                    <select name="position" data-control="selectPosition" class="form-select form-select-solid form-select-lg fw-semibold" 
                        (change)="onChangeSmallGuide($event, this.guidePosition, 'id_position')"
                        [(ngModel)]="this.settingData.position">
                        <option *ngFor="let gp of this.guidePosition" [value]="gp.name">{{gp.name}}</option>
                    </select>
                </div>
            </div>   
                 

            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Тип</label>
                <div class="col-lg-8 fv-row">
                    
                </div>
            </div>
    
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Разряд</label>
                <!-- <div class="col-lg-8 fv-row">
                    <select name="rank" data-control="selectRank" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="myUpdateNumberClick($event, 'rank')"
                            [(ngModel)]="this.settingData.rank" >
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>Нет</option>
                    </select>
                </div> -->
            </div>
         
            
                    
            <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Рост</label>
    
         <div class="col-lg-8 fv-row">
            <input type="text" name="staffheight" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                    [value]="this.settingData.height"
                    (blur)="myUpdateNumberClick($event, 'height')"/>
        </div>
    </div>
      
    
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Вес</label>
    
        <div class="col-lg-8 fv-row">
            <input type="text" name="staffweight" class="form-control form-control-lg form-control-solid" 
                   [value]="this.settingData.weight"
                   (blur)="myUpdateNumberClick($event, 'weight')" />
        </div>
    </div>  
    

    <div class="row mb-6">
        <!--begin::Label-->
        <!-- <label class="col-lg-4 col-form-label required fw-semibold fs-6"></label> -->
    
        <div class="col-lg-8 fv-row">Дата рождения1
            <input type="date" name="staffDateBirth" class="form-control form-control-lg form-control-solid form-select-lg fw-normal DateBirth margin-top-30px" 
                    [value]="this.settingData.DateBirth_str"
                   (change)="setDate($event, 'DateBirth')" />
        </div>        
    </div> 
    
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Собеседование</label>
    
        <div class="col-lg-8 fv-row">
            <input type="date" name="staffDateInterview" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                   [value]="this.settingData.date_interview_str"
                   (change)="setDate($event, 'date_interview')" />
        </div>
        
    </div>    
    
    <div class="row mb-6">
             
        <label class="col-lg-4 col-form-label fw-semibold fs-6">СМС</label>
    
        <div class="col-lg-8 fv-row">
            <select name="sms" data-control="selectSms" class="form-select form-select-solid form-select-lg fw-semibold" 
                    (change)="onChangeSmallGuide($event, this.guideSMS, 'id_sms')"
                    [(ngModel)]="this.settingData.sms">
               <option *ngFor="let gsms of this.guideSMS" [value]="gsms.name">{{gsms.name}}</option>
             </select>
         </div>

    </div>

    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Статус</label>
    
        <div class="col-lg-8 fv-row">
           <select name="status" data-control="selectStatus" class="form-select form-select-solid form-select-lg fw-semibold" 
                   (change)="onChangeSmallGuide($event, this.guideStatus, 'id_status')" 
                   [(ngModel)]="this.settingData.status">
              <option *ngFor="let gs of this.guideStatus" [value]="gs.name">{{gs.name}}</option>
            </select>
        </div>
    </div>  

    

             <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Комментарий</label>
    
                <div class="col-lg-8 fv-row">
                    <input name="comment" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                               [value]="this.settingData.comment"
                               (blur)="myUpdateClick($event.target, 'comment')"/>
                </div>
            </div>      

           

      <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Объект</label>
    
        <div class="col-lg-8 fv-row">

           <select name="status" data-control="selectStatus" class="form-select form-select-solid form-select-lg fw-semibold" 
                   (change)="onChangeProtectedObject($event, this.guideProtectedObject, this.settingProtectedObject.id || 0)" 
                   [(ngModel)]="this.settingProtectedObject.name_object">
              <option *ngFor="let g of this.guideProtectedObject" [value]="g.name">{{g.name}}</option>
            </select>

        </div>
    </div>  

     <button class="btn btn-secondary" (click)="backGeneral()">Назад</button>

    </div>     
</form>     
