body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins;', sans-serif;
}
.oneCol{
  margin: 0;
  padding: 0;
    display: flex;
  flex-direction: column;
  width: 407px;
  min-height: 900px;
  box-sizing: border-box;
  }
  .img-block{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  height: auto;
 }

.photo{
  display: flex;
  width: 117px;
  height: 117px;
  left: 33px;
  margin-top: 53px;
  margin-left: 33px;
}
.text-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  width: 100%;
}
.fc-fio{
 display: flex;
 width: 150px;
 font-size: 18px;
 color: #464457;
 margin-top: 56px;
 font-family: Poppins;
 font-size: 18px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 border: none;
 padding: 0 !important;
}
.status-text{
  display: flex;
  flex-direction: row;
  color: #BABAC5;
  font-family: Poppins;
  margin-top: 5px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.btn-line{
  display: flex;
  flex-direction: row;
  align-items: self-end;
  width: 100%;
  margin-top: auto; 

}
.btn-chat{
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 74px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #21C192;
  color: #fff;
}
.btn-report{
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 85px;
height: 36px;
margin-left: auto;
margin-right: 34px;
flex-shrink: 0;
color: #fff;
border-radius: 2px;
background: #526AE5;
}

.col-line{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
margin-left: 33px;
}
.phone{
  color: #464457;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.phone-number{
  color: #4C81D0;
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-left: auto;
margin-right: 34px;
}

  .twoCol{
    width: 1063px;
    padding: 95px 250px !important;
    background-color: #baf51a;
  }



.image-input {
    position: relative;
    display: inline-block;
    border-radius: .475rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-input-wrapper {
    width: 117px;
    height: 117px;
    border-radius: .475rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  }
  .one{
    display: flex;
    flex-direction: column !important;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f7f9f4;
  }
  .btn.btn-secondary{
    color: #fff;
    background-color: #5a6268 !important;
    font-weight: 600 !important;
   }
   .btn.btn-secondary:hover{
  color: white !important;
  font-weight: bold !important;
  background-color: #5a6268 !important; 
  cursor: pointer;
  }
  img{
    cursor: pointer;
  }