body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins;', sans-serif;
}
.oneCol{
  padding: 0 34px;
  margin-bottom: 10px;
    display: flex;
  flex-direction: column;
  width: 407px;
  min-height: 900px;
  box-sizing: border-box;
  }
  
  .img-block{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
 }

 .oneCol-line{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width:339px; 
  height:55px;
  margin-bottom:10px; 
  justify-content: star
 }
 .oneCol-line:hover{
    background-color:#F3F6F9;
    cursor: pointer;
    border: 2px solid rgb(226, 43, 150);
 }
.photo{
  display: flex;
  width: 117px;
  height: 117px;
  left: 33px;
  margin-top: 53px;
  margin-left: 33px;
}
.text-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  width: 100%;
}
.fc-fio{
 display: flex;
 width: 150px;
 font-size: 18px;
 color: #464457;
 margin-top: 56px;
 font-family: Poppins;
 font-size: 18px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 border: none;
 padding: 0 !important;
}
.status-text{
  display: flex;
  flex-direction: row;
  color: #BABAC5;
  font-family: Poppins;
  margin-top: 5px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.summary{
  font-size: 14px;
  color: #212121;
  margin-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 339px;
  height: 55px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.img-ico{
  width: 20px;
  height: 20px;
  margin: auto 0;
 font-weight: 400;
  line-height: normal;
}
.label-summary{
  font-size: 15px;
  width: 20px;
  height: 20px;
  margin: auto 30px;
  white-space: nowrap;
  font-weight: 700;
  color: #6993FF !important;
}
.label-black{
  width: 20px;
  height: 20px;
  margin: auto 30px;
  white-space: nowrap;
  font-weight: 500;
  color: #212121;
}
.label-summary{
  width: 20px;
  height: 20px;
  margin: auto 30px;
  white-space: nowrap;
  font-weight: 500;
  color: #212121;
}
.general-info{
  display: flex;
  flex-direction: row;
  width: 339px;
  height: 55px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 700;
  margin: 0 !important;
  color: #6993FF!important;
  background-color: #F3F6F9;
}
.surname{ 
  background-color: #f7fafd;
  width: 563px;
  height: 41px;
}
.name{
  background-color: #f7fafd;
  width: 563px;
  height: 41px;
}.name{
  background-color: #f7fafd;
  width: 563px;
  height: 41px;
}
.gender{
  background-color: #f7fafd;
  width: 563px;
  height: 41px;
}.name{
  background-color: #f7fafd;
  width: 563px;
  height: 41px;
}
.DateBirth{
  background-color: #f7fafd;
  width: 265px;
  height: 41px;
}.name{
  background-color: #f7fafd;
  width: 563px;
  height: 41px;
}
.btn-line{
  display: flex;
  flex-direction: row;
  align-items: self-end;
  width: 100%;
  margin-top: auto; 
}
.btn-chat{
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 74px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #21C192;
  color: #fff;
}
.btn-report{
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 85px;
height: 36px;
margin-left: auto;
margin-right: 34px;
flex-shrink: 0;
color: #fff;
border-radius: 2px;
background: #526AE5;
}

.col-line2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 563px;
  height: 55px;
  margin-top: 30px;

  background-color: #F3F6F9;

}
.col-line2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 563px;
  height: 91px;
  margin: 0;
  
  background-color: #FFF;

}
span-midle{
  display: flex;
  height: 20px;
  flex-direction: row;
  margin: auto 20px;
}
.head-line{
  display: flex;
  color: #464457;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: auto 0;


}
.text-blue{
  display: flex;
  color: #4C81D0;
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin: auto 0;
  margin-left: auto;
  margin-right: 0;
  height: 15px;
  outline:none;

}

  .twoCol{
    width: 1063px;
    padding: 95px 250px !important;
    background-color: #fff;
  }
  .general-info{
    color: #6993ff !important;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
 }
  .big-photo{
    display: flex;
  width: 264px;
  height: 309px;
  margin-top: 30px;
  }
  .dots-photo{
    position: absolute;
    width: 12px;
    height: 3px;
    top: 6px;
    z-index: 5;
  }  
  .type-block{
    display: flex;
    width: 265px;
    height: 91px;
    flex-direction: column;
    color: #6C7293;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;   
    margin-right: 30px; 
  }
  .form-select ,type-select{
    appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    -moz-appearance: none; /* Mozilla */
    -ms-appearance: none; /* IE */
    background: #f3f6f9 url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23c4e1ee' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: #f7fafd;
    background-position: calc(100% - 15px) center;
    margin-top: 10px;
    width: 265px;
    height: 41px;
    padding: 8px 32px 8px 16px;
    border-radius: 0;
    outline: none;
    cursor: pointer;

  }
  .form-select ,type-select{
    appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    -moz-appearance: none; /* Mozilla */
    -ms-appearance: none; /* IE */
    background: #f3f6f9 url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23c4e1ee' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: #f7fafd;
    background-position: calc(100% - 15px) center;
    margin-top: 10px;
    width: 265px;
    height: 41px;
    padding: 8px 32px 8px 16px;
    border-radius: 0;
    outline: none;
    cursor: pointer;

  }
  selectStatus{
  appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    -moz-appearance: none; /* Mozilla */
    -ms-appearance: none; /* IE */
    background: #f3f6f9 url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23c4e1ee' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: #f7fafd;
    background-position: calc(100% - 15px) center;
    width: 265px;
    height: 41px;
    padding: 8px 32px 8px 16px;
    font-size: 10px !important;
    font-weight: normal;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    margin-top: -10px;
    margin-left: auto;
    font-weight: 400 !important;
}
  .select-gender{
    appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    -moz-appearance: none; /* Mozilla */
    -ms-appearance: none; /* IE */
    background: #f3f6f9 url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23c4e1ee' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: #f7fafd;
    background-position: calc(100% - 15px) center;
    margin-top: 10px;
    width: 265px;
    height: 41px;
    padding: 8px 32px 8px 16px;
    border-radius: 0;
    outline: none;
    cursor: pointer;

  }
  .type-option{
    width: 265px;
    height: 41px;
    border-color: #f3f6f9;
  }
  .comment-block{
    display: flex;
    width: 266px;
    height: 91px;
    flex-direction: column;
    color: #6C7293;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;
  }

  .input-comment{
    margin-top: 10px;
    width: 265px;
    height: 41px;
    padding: 8px 32px 8px 16px;
    outline: none;
    border-radius: 0;
  }
  .birth-block{
    display: flex;
    width: 266px;
    height: 91px;
    flex-direction: column;
    color: #6C7293;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;
    padding: 10px 0;
  }
.select-gender{
  appearance: none;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Mozilla */
  -ms-appearance: none; /* IE */
  background: #f3f6f9 url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23c4e1ee' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat calc(100% - 15px) center;
  background-repeat: no-repeat;
  background-color: #f7fafd;
  background-position: calc(100% - 15px) center;
  margin-top: 10px;
  width: 265px;
  height: 41px;
  padding: 8px 32px 8px 16px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}
.type-option{
  width: 265px;
  height: 41px;
  border-color: #f3f6f9;
}
  .text-photo{
    color: #646C9A;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 30px;
  }
.image-input {
    position: relative;
    display: inline-block;
    border-radius: .475rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-input-wrapper {
    width: 100%;
    height: 100%;
    border-radius: .475rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  }
  .one{
    display: flex;
    flex-direction: column !important;
    position: fixed;
    top: 1;
    right: 0;
    background-color: #f7f9f4;
  }
  .btn.btn-secondary{
    color: #fff;
    background-color: #5a6268 !important;
    font-weight: 600 !important;
   }
   .btn.btn-secondary:hover{
  color: white !important;
  font-weight: bold !important;
  background-color: #5a6268 !important; 
  cursor: pointer;
  }
  img{
    cursor: pointer;
  }