<form class="mb-2 px-9">

    <!-- <form class="m-0 h-auto" [formGroup]="form">
      
        <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
        <ng-template #contentLoadAvatar class="image-input">
        <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
        </ng-template>
        <ng-template #contentDefault>
          <img class="rounded image-input-wrapper w-125px h-125px"src="/assets/img/usernull.jpg"onclick="document.getElementById('avatar').click()">
        </ng-template>
    </form> -->
       <!-- <div class="one mb-0">
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
          <label class="text-muted my-2 fs-4" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('avatar').click()">Загрузить фото</label>
          <label class="text-muted  my-2 fs-4" style="display: block; cursor: pointer; text-decoration: underline;" (click)="clearFile()">Очистить</label>
     </div> -->
      
    <div class="card-body mt-2 p-10">
            <div class="row mb-6">
                <div class="col-lg-4 col-form-label fw-semibold fs-6 d-flex flex-column">
                        <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none"> 
                    <span class="text-muted fs-6" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('avatar').click()">Загрузить фото</span>
                    <span class="text-muted  fs-6" style="cursor: pointer; text-decoration: underline;" (click)="clearFile()">Удалить фото</span>
                </div>
                    
                <div class="col-lg-8">
                            <div class="image-input-wrapper" *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
                            <ng-template #contentLoadAvatar class="image-input">
                            <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
                            </ng-template>
                            <ng-template #contentDefault>
                            <img class="rounded image-input-wrapper w-125px h-125px" src="/assets/img/usernull.jpg" onclick="document.getElementById('avatar').click()">
                            </ng-template>
                </div>
            </div>
            
             <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">ФИО</label>
    
                <div class="col-lg-8 fv-row">
                    <input type="text" name="fio" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                           [value]="this.settingData.fio"
                           (blur)="myUpdateClick($event.target, 'fio')"/>
                </div>
            </div>  
    
            <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        <span class="required">Компания</span>
                        </label>
    
                    <div class="col-lg-8 fv-row">
                        <select name="organization" data-control="selectOrganization" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="onChangeSmallGuide($event, this.guideOrganization, 'id_organization')"
                            [(ngModel)]="this.settingData.organization">
                            <option *ngFor="let go of this.guideOrganization" [value]="go.name">{{go.name}}</option>
                       </select>
                    </div>
            </div>
    
             <div class="row mb-6">
    
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Отдел</label>
                <div class="col-lg-8 fv-row">
                    <select name="department" data-control="selectDepartment" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="onChangeSmallGuide($event, this.guideDepartment, 'id_department')"
                            [(ngModel)]="this.settingData.department">
                            <option *ngFor="let gd of this.guideDepartment" [value]="gd.name">{{gd.name}}</option>
                    </select>
                  </div>
            </div>       
    
            <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-semibold fs-6">
                    <span class="required">Телефон 1</span>
                    <span class="ms-1" data-bs-toggle="tooltip" title="Phone number1">
                    </span>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="tel" name="phone1" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" placeholder="Phone number" 
                           [value]="this.settingData.phone"
                           (blur)="myUpdateClick($event.target, 'phone')"/>
                </div>
                
            </div>

            <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-semibold fs-6">
                    <span class="required">Телефон 2</span>
                    <span class="ms-1" data-bs-toggle="tooltip" title="Phone number2">
                    </span>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <input type="tel" name="phone2" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" placeholder="Phone number" 
                    [value]="this.settingData.phone2"
                    (blur)="myUpdateClick($event.target, 'phone2')"/>
                </div>
                
            </div>

            
            <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-semibold fs-6">Руководитель</label>
                
                <div class="col-lg-8 fv-row">
                    <select name="senjorguard" data-control="selectSenjorGuard" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="onChangeSenjorGuard($event, this.guideSenjorGuard, 'id_senjor_guard')"
                            [(ngModel)]="this.settingData.senjor_guard"  >
                        <option *ngFor="let sg of this.guideSenjorGuard" [value]="sg.fio">{{sg.fio}}</option>
                    </select>
                </div>
                
            </div>
    
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Должность</label>
                <div class="col-lg-8 fv-row">
                    <select name="position" data-control="selectPosition" class="form-select form-select-solid form-select-lg fw-semibold" 
                        (change)="onChangeSmallGuide($event, this.guidePosition, 'id_position')"
                        [(ngModel)]="this.settingData.position">
                        <option *ngFor="let gp of this.guidePosition" [value]="gp.name">{{gp.name}}</option>
                    </select>
                </div>
            </div>   


            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Пол</label>
                <div class="col-lg-8 fv-row">
                    <select name="gender" data-control="selectGender" class="form-select form-select-solid form-select-lg fw-semibold" 
                        (change)="onChangeSmallGuide($event, this.guideGender, 'id_gender')"
                        [(ngModel)]="this.settingData.gender">
                        <option *ngFor="let gg of this.guideGender" [value]="gg.name">{{gg.name}}</option>
                    </select>
                </div>
            </div>               


            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Тип</label>
                <div class="col-lg-8 fv-row">
                    <select name="typeperson" data-control="selectTypeperson" class="form-select form-select-solid form-select-lg fw-semibold" 
                        (change)="onChangeSmallGuide($event, this.guideTypeperson, 'id_typeperson')"
                        [(ngModel)]="this.settingData.type">
                        <option *ngFor="let gtp of this.guideTypeperson" [value]="gtp.name">{{gtp.name}}</option>
                    </select>
                </div>
            </div>               

           
    
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Разряд</label>
                <div class="col-lg-8 fv-row">
                    <select name="rank" data-control="selectRank" class="form-select form-select-solid form-select-lg fw-semibold" 
                            (change)="myUpdateNumberClick($event, 'rank')"
                            [(ngModel)]="this.settingData.rank" >
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>Нет</option>
                    </select>
                </div>
            </div>
         
            
                    
            <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Рост</label>
    
         <div class="col-lg-8 fv-row">
            <input type="text" name="staffheight" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                    [value]="this.settingData.height"
                    (blur)="myUpdateNumberClick($event, 'height')"/>
        </div>
    </div>
      
    
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Вес</label>
    
        <div class="col-lg-8 fv-row">
            <input type="text" name="staffweight" class="form-control form-control-lg form-control-solid" 
                   [value]="this.settingData.weight"
                   (blur)="myUpdateNumberClick($event, 'weight')" />
        </div>
    </div>  
    

    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Дата рождения</label>
    
        <div class="col-lg-8 fv-row">
            <input type="date" name="staffDateBirth" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                    [value]="this.settingData.DateBirth_str"
                   (change)="setDate($event, 'DateBirth')" />
        </div>
        
    </div> 

    
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Собеседование</label>
    
        <div class="col-lg-8 fv-row">
            <input type="date" name="staffDateInterview" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                   [value]="this.settingData.date_interview_str"
                   (change)="setDate($event, 'date_interview')" />
        </div>
        
    </div>    
    
    <div class="row mb-6">
             
        <label class="col-lg-4 col-form-label fw-semibold fs-6">СМС</label>
    
        <div class="col-lg-8 fv-row">
            <select name="sms" data-control="selectSms" class="form-select form-select-solid form-select-lg fw-semibold" 
                    (change)="onChangeSmallGuide($event, this.guideSMS, 'id_sms')"
                    [(ngModel)]="this.settingData.sms">
               <option *ngFor="let gsms of this.guideSMS" [value]="gsms.name">{{gsms.name}}</option>
             </select>
         </div>

    </div>

    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Статус</label>
    
        <div class="col-lg-8 fv-row">
           <select name="status" data-control="selectStatus" class="form-select form-select-solid form-select-lg fw-semibold" 
                   (change)="onChangeSmallGuide($event, this.guideStatus, 'id_status')" 
                   [(ngModel)]="this.settingData.status">
              <option *ngFor="let gs of this.guideStatus" [value]="gs.name">{{gs.name}}</option>
            </select>
        </div>
    </div>  

    

             <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Комментарий</label>
    
                <div class="col-lg-8 fv-row">
                    <input name="comment" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                               [value]="this.settingData.comment"
                               (blur)="myUpdateClick($event.target, 'comment')"/>
                </div>
            </div>      

      </div>
    
    
<button (click)="backGeneral()">Назад</button>    
