.container{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
h2{
  display: flex;
  margin-right: auto;
}
input-group{
  display: flex;
  width: 550px !important;
   margin-right: 100px !important;
}
.add-btn{
  height: 20px !important;
  position:fixed;
  top: 0;
  right: 0;
  }

img:hover{
cursor: pointer;
}

.material {
    height: 800px
}

  
  .ngx-datatable.material .datatable-header {
    display: flex;
    flex-direction: row;
    font-size: 13px;
  }
  
  :host ::ng-deep.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: center;
    font-weight: 650;
    background-color:#f5f5f5;
    color: #222122;
    font-size: 13px;
    border:1px dashed#cacaca !important;
  
  }
  
  :host ::ng-deep.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
    cursor: pointer;
    padding: 0 1px;
  }
  
  :host ::ng-deep.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
  }
  
  :host ::ng-deep .datatable-body-cell {
    background-color: rgb(255, 255, 255);
    height: auto !important;
    font-size: 1em !important;
    overflow: auto;
    border: 1px dashed #cacaca;
    text-align: center !important;
    white-space: pre-wrap !important;
    padding: 1px;
    border: 1px dashed #cacaca !important;
    text-align: center;
    display: inline-block;
    vertical-align: middle !important;
  }
  
  :host ::ng-deep.datatable-body-cell-label {
    display: flex;
    flex-direction: row;
    font-size: 13px;
   vertical-align: middle !important;
   height: auto;
   white-space: pre-wrap;
  }

  /* } */
   
  .btn.btn-primary{
    color: #fff;
    background-color: #386bc0 !important;
    font-weight: semibold !important;
 }
    .btn.btn-primary:hover{
    color: white !important;
    font-weight: bold !important;
    background-color: #386bc0 !important; 
    cursor: pointer;
    }
      .btn.btn-warning{
      color: #fff;
      background-color: #ffc107 !important;
      font-weight: semibold !important;
     }
     .btn.btn-warning:hover{
    color: white !important;
   font-weight: bold !important;
    background-color: #ffc107 !important; 
    cursor: pointer;
    }
  .btn.btn-info{
      color: #fff;
      background-color: #138496 !important;
      font-weight: bold !important;
     }
     .btn.btn-info:hover{
    color: white !important;
    font-weight: bold !important;
    background-color: #138496 !important; 
    cursor: pointer;
    }
    .btn.btn-secondary{
      color: #fff;
      background-color: #5a6268 !important;
      font-weight: 600 !important;
     }
     .btn.btn-secondary:hover{
    color: white !important;
    font-weight: bold !important;
    background-color: #5a6268 !important; 
    cursor: pointer;
    }

  .btn.btn-danger{
  color: #fff;
  background-color: #5a6268 !important;
  font-weight: 600 !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  }
   .btn.btn-danger:hover{
   color: white !important;
   font-weight: 600 !important;
   background-color: hsl(354, 70%, 54%) !important; 
   cursor: pointer;
    }
    .btn.btn-success{
        color: #fff;
        background-color: #218838 !important;
        font-weight: 600 !important;
     }
        .btn.btn-success:hover{
        color: white !important;
        font-weight: 600 !important;
        background-color: #218838 !important; 
        cursor: pointer;
        }
  
  select {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance:none;
    text-align: center;
    vertical-align: middle;
  }
  
  input{
    border: none;
  }
  
  