


            <!-- Начало карточки с информацией -->

<div class="card-body p-9">

  <div class="row mb-3">
  <label class="col-lg-4 fw-semibold fs-5 text-muted">Фамилия Имя Отчество</label>
  <div class="col-lg-8">
  <span class="text-bs-gray-400 text-hover-primary fs-2 fw-bold me-1">
        {{this.ShowRes.fio}} 
  </span>
  </div>
  </div>

  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Компания</label>
    <div class="col-lg-8 fv-row">

    <div *ngFor="let item of this.ShowCompany">  
       <span class="fw-semibold text-gray-800 fs-5">{{item?.name}}</span>
    </div>

    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Телефон
 </label>
    <div class="col-lg-8 d-flex align-items-center">
    <span class="fw-semibold fs-5 text-gray-800 me-2">{{this.ShowRes.phone}}</span>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Телефон 2
 </label>
    <div class="col-lg-8 d-flex align-items-center">
    <span class="fw-semibold fs-5 text-gray-800 me-2">{{this.ShowRes.phone2}}</span>
    </div>
  </div>


  <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Объект</label>

    <div class="col-lg-8">
      
      <div *ngFor="let item of this.ShowObjectSenjor">
         <span class="fw-semibold fs-5 text-gray-800 me-2">{{item?.PONAME}}</span>
      </div>
    </div>


   </div>
  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Руководитель
  </label>
  <div class="col-lg-8">
     <div  *ngFor="let item of this.ShowObjectSenjor">
        <span class="fw-semibold fs-5 text-gray-800">{{item?.senjor}}</span>
     </div>
  </div>
  </div>
  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Разряд</label>
  <div class="col-lg-8">
  <span class="fw-semibold fs-5 text-gray-800">{{this.ShowRes.rank}}</span>
  </div>
  </div>
  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Тип сотрудника</label>
    <div class="col-lg-8">
  <span class="fw-semibold fs-5 text-gray-800"> {{this.ShowRes.typeperson}} </span>
    </div>
  </div>

 <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Должность</label>
    
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">{{this.ShowRes.position}}</span>
    </div>
 </div>

 <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Статус</label>
    
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">{{this.ShowRes.status}}</span>
    </div>
  </div>  

  <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Дата рождения</label>
    
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">{{this.ShowRes.DateBirth | date:'dd-MM-YYY'}}</span>
    </div>
</div>


    <div class="row mb-3">
      <label class="col-lg-4 fs-5 fw-semibold text-muted">Возраст</label>
        <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">{{this.ShowRes.Age}}</span>
        </div>
</div>

    <div class="row mb-3">  
    <label class="col-lg-4 fs-5 fw-semibold text-muted">ОЛЛР</label>
    
    <div class="d-flex col-lg-12">



      <ngx-datatable
        #Staff2OllrTable
        class="material striped"
        [rows]="this.ShowOLLR"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="100"
        [scrollbarV]="true"
        [scrollbarH]="true"
        (resize)="onResize($event)"
        [messages]="{emptyMessage: ''}"
        >

          <ngx-datatable-column prop = "Color" name = "Документ" [width]="getColumnSize('Color')" >
              <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                  <span [innerHTML]="value"></span>
              </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column prop = "DateBegin" name = "Выдан" [width]="getColumnSize('DateBegin')">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date: "yyyy-MM-dd" }}
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop = "period" name = "Период (лет)" [width]="getColumnSize('period')" >
            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
              <span>   {{ value }}  </span>
              </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>


    </div>  
  </div> 

    <!-- Конец карточки с информацией -->

 <!-- --> 
 <button class="btn btn-secondary"  (click)="backStaff()">Вернуться</button> 

