<div class="card-body p-9">

  <div class="row mb-3">
  <label class="col-lg-4 fw-semibold fs-5 text-muted">Фамилия Имя Отчество</label>
  <div class="col-lg-8">
  <span class="fw-semibold fs-5 text-gray-800">Петров Иван Сергеевич</span>
  </div>
  </div>

  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Компания</label>
    <div class="col-lg-8 fv-row">
    <span class="fw-semibold text-gray-800 fs-5">ООО ЧОП Сигма-Профи 3</span>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Телефон
 </label>
    <div class="col-lg-8 d-flex align-items-center">
    <span class="fw-semibold fs-5 text-gray-800 me-2">+7 495 326 54 35</span>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Объект</label>
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800 me-2">БЦ Радуга</span>
    </div>
   </div>
  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Руководитель
  </label>
  <div class="col-lg-8">
  <span class="fw-semibold fs-5 text-gray-800">Акаткин Сергей Петрович</span>
  </div>
  </div>
  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Разряд</label>
  <div class="col-lg-8">
  <span class="fw-semibold fs-5 text-gray-800">6</span>
  </div>
  </div>
  <div class="row mb-3">
  <label class="col-lg-4 fs-5 fw-semibold text-muted">Тип сотрудника</label>
    <div class="col-lg-8">
  <span class="fw-semibold fs-5 text-gray-800">Вахтовик</span>
    </div>

    <label class="col-lg-4 fs-5 fw-semibold text-muted">Должность</label>
    
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">Охранник</span>
    </div>
     
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Статус</label>
    
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">Резерв</span>
    </div>
    <label class="col-lg-4 fs-5 fw-semibold text-muted">Дата рождения</label>
    
    <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">10.08.1980</span>
    </div>

    <div class="row mb-3">
      <label class="col-lg-4 fs-5 fw-semibold text-muted">Возраст</label>
        <div class="col-lg-8">
      <span class="fw-semibold fs-5 text-gray-800">36</span>
        </div>

    <label class="col-lg-4 fs-5 fw-semibold text-muted">ОЛЛР</label>
    
    <div class="col-lg-8">
      <span class="badge rounded-pill text-bg-danger fs-6 me-2">002-ОУ</span>
  <span class="badge rounded-pill text-bg-danger fs-6 me-2">003-ОУ</span>
  <span class="badge rounded-pill text-bg-success fs-6 me-2">РСЛА</span>
  <span class="badge rounded-pill text-bg-success fs-6 me-2">ЛК СПК</span>
  <span class="badge rounded-pill text-bg-success fs-6 me-2">ЛК СП1</span>
    </div>
  </div>