<div class="dataTables_scroll">
   <div class="dataTables_scrollHead">
     <div class="dataTables_scrollHeadInner">
       <table>
         <thead>
           <tr>
             <th></th>
             <th></th>
             <th></th>
           </tr>
         </thead>
       </table>
     </div>
   </div>
   <div class="dataTables_scrollBody">
     <table>
       <thead>
         <tr>
           <th><div class="dataTables_sizing"></div></th>
           <th><div class="dataTables_sizing"></div></th>
           <th><div class="dataTables_sizing"></div></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td></td>
           <td></td>
           <td></td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>     