

<div class="card-body pt-2 mb-5 p-8 h-lg-550px w-lg-600px">
    <h5 class="card-title mb-6">Новый фильтр для таблицы "Сотрудники"</h5>
    <div class="row mb-3">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Имя фильтра</label>
        <div class="col-lg-8 fv-row">
        <input id="filterName" type="text" name="company" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" value="Кадры" />
        </div> 
    </div>


<!-- ПЕРВЫЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      

<div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold" 
              (change)="onChangeColumn1($event.target)"
              [(ngModel)]="selectedField1">
        <option  [value]="0"> -- </option>
        <option *ngFor="let lf of this.listfield1" [value]="lf.id"> {{lf.column_display}}</option>
      </select>
      </div>
</div>

 <div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение</label>

      <div class="col-lg-8 fv-row">
         
        <ng-container *ngIf="this.boolGuideColumn1">
            <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold" [(ngModel)]="selectedValue1">
              <option *ngFor="let m of this.listGuide1" [value]="m.name">{{m.name}}</option>
             </select>
         </ng-container>

         <ng-container *ngIf="!this.boolGuideColumn1">
          <input id="inputFirst" />
        </ng-container>

      </div>
 </div>        

<!-- КОНЕЦ ПЕРВЫЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      


<!-- ВТОРОЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      
  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец 2</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold" 
              (change)="onChangeColumn2($event.target)"
              [(ngModel)]="selectedField2">
        <option  [value]="0"> -- </option>
        <option *ngFor="let lf of this.listfield2" [value]="lf.id"> {{lf.column_display}}</option>
      </select>
      </div>
  </div>

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение 2</label>
      <div class="col-lg-8 fv-row">

        <ng-container *ngIf="this.boolGuideColumn2">
            <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold" [(ngModel)]="selectedValue2">
              <option *ngFor="let m of this.listGuide2" [value]="m.name">{{m.name}}</option>
            </select>
        </ng-container>        
        <ng-container *ngIf="!this.boolGuideColumn2">
          <input id="inputSecond" />
        </ng-container>        

      </div>
  </div>
  <!-- КОНЕЦ ВТОРОЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Период</label>
      <div class="col-lg-8 fv-row">
        <span>C</span>
        <input id="dateBegin" type="date"/>
        <span>По</span> 
        <input id="dateEnd" type="date"/>
       
  </div>
  </div>

</div>

<div>
  <button (click)="saveFilter()">Сохранить</button>
  <button (click)="backFilter()">Отмена</button>
</div>