
<div class="card-body pt-2 mb-1 p-7 h-lg-500px w-lg-650px">
  <h4 class="card-title m-2 text-center h-30px info">Новый фильтр для таблицы Сотрудники</h4>
  <div class="row mb-3">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Имя фильтра</label>
      <div class="col-lg-8 fv-row">
      <input id="filterName" type="text" name="company" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" value="Кадры" />
      </div> 
  </div>

<!-- ПЕРВЫЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец</label>
    <div class="col-lg-8 fv-row">
    <select name="choice-status" data-control="select2" class="form-select" 
            (change)="onChangeColumn1($event.target)"
            [(ngModel)]="selectedField1">
      <option  [value]="0"> -- </option>
      <option *ngFor="let lf of this.listfield1" [value]="lf.id"> {{lf.column_display}}</option>
    </select>
    </div>
</div>

<div class="row mb-6">
<label class="col-lg-4 col-form-label fw-semibold fs-6">Значение</label>
    <div class="col-lg-8 fv-row">
   <ng-container *ngIf="this.boolGuideColumn1">
          <select name="choice-status" data-control="select2" class="form-select" [(ngModel)]="selectedValue1">
            <option *ngFor="let m of this.listGuide1" [value]="m.name">{{m.name}}</option>
           </select>
       </ng-container>

       <ng-container *ngIf="!this.boolGuideColumn1">
        <input class="form-control w-100" type="text"  id="inputFirst" />
      </ng-container>

    </div>
</div>        

<!-- КОНЕЦ ПЕРВЫЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      

<!-- ВТОРОЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      
<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец 2</label>
    <div class="col-lg-8 fv-row">
    <select name="choice-status" data-control="select2" class="form-select" 
            (change)="onChangeColumn2($event.target)"
            [(ngModel)]="selectedField2">
      <option  [value]="0"> -- </option>
      <option *ngFor="let lf of this.listfield2" [value]="lf.id"> {{lf.column_display}}</option>
    </select>
    </div>
</div>

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение 2</label>
    <div class="col-lg-8 fv-row">

      <ng-container *ngIf="this.boolGuideColumn2">
          <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold" [(ngModel)]="selectedValue2">
            <option *ngFor="let m of this.listGuide2" [value]="m.name">{{m.name}}</option>
          </select>
      </ng-container>        
      <ng-container *ngIf="!this.boolGuideColumn2">
        <input class="form-control w-100"  id="inputSecond" />
      </ng-container>        

    </div>
</div>
<!-- КОНЕЦ ВТОРОЙ СПРАВОЧНИК И ЗНАЧЕНИЕ ИЗ НЕГО -->      

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Период</label>
    <div class="col-lg-8 fv-row">
            <input id="dateBegin" type="date" class="dateB"/>
            <input id="dateEnd" type="date" class="dateE"/>
      
    </div>
</div>




<div class="btns mt-5">

<button type="button" class="btn btn-secondary"(click)="backFilter()">Отмена</button>
<button  (click)="saveFilter()"button type="button" class="btn btn-primary">Сохранить</button>
</div>

</div>
