


<div class="container-fluid">
  <div class="row">
    <div class="col-12">
   
<table class="table1">
<tbody>
    <tr>
<td class="tl" width="150"><span class="masha"></span>id_object</td>
<td class="tl" width="150"><span class="masha"></span>objectone.name</td> 
<td class="tl" width="150"><span class="masha"></span>object_type</td> 
<td class="tl" width="150"><span class="masha"></span>options</td>
<td class="tl" width="150"><span class="masha"></span>cur_organization</td> 
<td class="tl" width="150"><span class="masha"></span>address</td>
<td class="tl" width="150"><span class="masha"></span>yandex_maps</td>
<td class="tl" width="150"><span class="masha"></span>google_maps</td>
<td class="tl" width="150"><span class="masha"></span>phone</td>
<td class="tl" width="150"><span class="masha"></span>senjor_guard</td>
<td class="tl" width="150"><span class="masha"></span>postwasset_date</td>
<td class="tl" width="150"><span class="masha"></span>withdrawal_date</td>
<td class="tl" width="150"><span class="masha"></span>MTR</td>
</tr>

<tr> 
  <td class="td1" width="150"><span class="masha"></span>id_object</td>
  <td class="td1" width="150"><span class="masha"></span>objectone.name</td> 
  <td class="td1" width="150"><span class="masha"></span>object_type</td> 
  <td class="td1" width="150"><span class="masha"></span>options</td>
  <td class="td1" width="170"><span class="masha"></span>cur_organization</td> 
  <td class="td1" width="150"><span class="masha"></span>address</td>
  <td class="td1" width="150"><span class="masha"></span>yandex_maps</td>
  <td class="td1" width="150"><span class="masha"></span>google_maps</td>
  <td class="td1" width="150"><span class="masha"></span>phone</td>
  <td class="td1" width="150"><span class="masha"></span>senjor_guard</td>
  <td class="td1" width="150"><span class="masha"></span>postwasset_date</td>
  <td class="td1" width="150"><span class="masha"></span>withdrawal_date</td>
  <td class="td1" width="150"><span class="masha"></span>MTR</td>
  </tr>

</tbody>
</table>
    </div>
      </div>
       </div>
