<div class="card-body mt-9 mb-3 p-8 h-lg-300px w-lg-500px">

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label required fw-semibold fs-4">Статус =</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
        <option>Резерв</option>
        <option>Соискатель</option>
      </select>
      </div>
  </div>
  <div class="row mb-6">
    <label class="col-lg-4 col-form-label required fw-semibold fs-4">Звонок =</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
        <option>Резерв</option>
        <option>Соискатель</option>
      </select>
      </div>
  </div>


</div>