<div class="container-fluid d-flex justify-content-evenly m-0 p-0">
  <nav class="navbar w-100 nav-tabs  position: sticky navbar-expand-lg navbar-light bg-light fs-5 fw-semibold my-0 top- 0 w-lg-100%">
   <a class="navbar-brand mx-9 fs-5 fw-semibold" href="#">
    SIGMA-PROFI
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-lg-950px justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/liststaff">Сотрудники</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listobjects">Объекты</a>
        </li><li class="nav-item">
          <a class="nav-link" href="">События</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="">Компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Договора</a>
        </li><li class="nav-item">
          <a class="nav-link" href="">Акты</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="">Тендеры</a>
      </li>
      </ul>
    </div>
</nav>
  </div>

 <!-- <button [style.color] = "'green'" [style.width.px]="width"  (click) = "clickWigth()">
  Получить ширину столбцов</button> -->



<div class="card-body pt-2 mb-5 p-8 h-lg-550px w-lg-600px">
    <h5 class="card-title mb-6">Новый фильтр для таблицы "Сотрудники"</h5>
    <div class="row mb-3">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Имя фильтра</label>
        <div class="col-lg-8 fv-row">
        <input type="text" name="company" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" value="Кадры" />
        </div> 
      </div>

<div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
        <option>Сюда выбор значения из справочника</option>
        
      </select>
      </div>
</div>

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение</label>
      <div class="col-lg-8 fv-row">
      
        <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
        <option>Резерв</option>
        <option>Соискатель</option>
      </select>
  </div>
  </div>

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец 2</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
        <option>Сюда выбор значения из справочника</option>
       
      </select>
      </div>
  </div>

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение 2</label>
      <div class="col-lg-8 fv-row">
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
        <option>Сюда выбор значения из справочника</option>
       
      </select>
      </div>
  </div>

  <div class="row mb-6">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">Период</label>
      <div class="col-lg-8 fv-row">
        <span>C</span>
        <input type="date"/>
        <span>По</span> 
        <input type="date"/>
       
  </div>
  </div>

</div>


<!-- Карточка заявки -->

<div class="card-body pt-2 mb-5 p-8 h-lg-550px w-lg-600px">
  <h4 class="card-title mb-6">Новая задача</h4>
  <div class="row mb-3">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Выбрать отдел</label>
      <div class="col-lg-8 fv-row">
        <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
          <option>Отдел кадров</option>
          <option>АХО</option>
          <option>ОЛЛР</option>
          <option>СЕБЕ</option>
         
        </select>
      </div> 
    </div>

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Выбрать тему</label>
    <div class="col-lg-8 fv-row">
    <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
      <option>Сюда выбор значения из справочника</option>
    </select>
    </div>
</div>

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение</label>
    <div class="col-lg-8 fv-row">
    
      <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
      <option>Резерв</option>
      <option>Соискатель</option>
    </select>
</div>
</div>

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Столбец 2</label>
    <div class="col-lg-8 fv-row">
    <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
      <option>Сюда выбор значения из справочника</option>
     
    </select>
    </div>
</div>

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Значение 2</label>
    <div class="col-lg-8 fv-row">
    <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold">
      <option>Сюда выбор значения из справочника</option>
     
    </select>
    </div>
</div>

<div class="row mb-6">
  <label class="col-lg-4 col-form-label fw-semibold fs-6">Срок исполнения</label>
    <div class="col-lg-8 fv-row">
      <span>До</span>
      <input type="date"/>
    
</div>
 </div>

</div>

<!-- Конец  Карточка заявки -->