<div class="Container d-flex flex-row p-2">
  <h2>Сотрудники</h2>
   <div class="input-group rounded  w-lg-500px">
        <input id="search" 
               type="search"
               class="form-control rounded" 
               placeholder="Поиск" 
               aria-label="Search" 
               aria-describedby="search-addon" 
               (keyup.enter)="onEnterSearch()"/>
        <span class="input-group-text border-0" id="search-addon">
          <button (click)="funcSearch()"><i class="fas fa-search"></i></button>
        </span>
      </div>
<!-- Добавить ресурс -->
  <button class="btn btn-success" type="button" (click)="addNewStaff()">
    <img src="/assets/img/plus.png" width="25" />
  </button>

<!-- конец Добавить сотрудника -->

</div>
 
<ngx-datatable
id="Staff2Table"
class="material striped"
[rows]="this.ShowStaff"
[columnMode]="ColumnMode.force"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="50"
[limit]="100"
[scrollbarV]="true"
[scrollbarH]="true"
>

<ngx-datatable-column prop = "id_staff" name = "#">
    <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
      <span (dblclick)="Summary(row.id_staff)">
        {{ value }}
      </span>
      </ng-template>
</ngx-datatable-column>

<!-- НАЧАЛО ПОЛЯ НАИМЕНОВАНИЕ-->
<ngx-datatable-column prop="fio" name="ФИО">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span
        title="Double click to edit"
        (dblclick)="editing[rowIndex + '-fio'] = true"
        *ngIf="!editing[rowIndex + '-fio']"
      >
        {{ value}} 
      </span>
      <input
        (blur)="myUpdateClick($event.target, row.id_staff, 'fio', 'fio')"
        (keyup.enter)="myEnter($event)"
        *ngIf="editing[rowIndex + '-fio']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ НАИМЕНОВАНИЕ-->



<!-- НАЧАЛО СПРАВОЧНИКА  Статус -->
<ngx-datatable-column prop = "guide_status" name = "Статус">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
       <span
        title="Double click to edit"
        (dblclick)="this.editing[rowIndex + '-guide_status'] = true"
        *ngIf="!editing[rowIndex + '-guide_status']"
       >
        {{ value }}
      </span>
      <select
        *ngIf="editing[rowIndex + '-guide_status']"
        (blur)="editing[rowIndex + '-guide_status'] = false"
        (keyup.enter)="myEnter($event)"
        (change)="onChangeSmallGuide($event, this.guideStatus, row.id_staff, 'id_status', 'guide_status')"
        [ngModel]="value"       
      >
        <option *ngFor="let gs of this.guideStatus" [value]="gs.name">{{gs.name}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
<!-- КОНЕЦ СПРАВОЧНИКА  Статус -->


<!-- НАЧАЛО СПРАВОЧНИКА  Компания -->
<ngx-datatable-column prop = "organization" name = "Компания">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
       <span
        title="Double click to edit"
        (dblclick)="this.editing[rowIndex + '-organization'] = true"
        *ngIf="!editing[rowIndex + '-organization']"
       >
        {{ value }}
      </span>
      <select
        *ngIf="editing[rowIndex + '-organization']"
        (blur)="editing[rowIndex + '-organization'] = false"
        (keyup.enter)="myEnter($event)"
        (change)="onChangeSmallGuide($event, this.guideOrganization, row.id_staff, 'id_organization', 'organization')"
        [ngModel]="value"       
      >
        <option *ngFor="let go of this.guideOrganization" [value]="go.name">{{go.name}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <!-- КОНЕЦ СПРАВОЧНИКА  Компания -->

<!-- НАЧАЛО СПРАВОЧНИКА РУКОВОДИТЕЛЬ -->         
<ngx-datatable-column prop = "senjor_guard" name = "Руководитель">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
       <span
        title="Double click to edit"
        (dblclick)="this.editing[rowIndex + '-senjor_guard'] = true"
        *ngIf="!editing[rowIndex + '-senjor_guard']"
       >
        {{ value }}
      </span>
      <select
        *ngIf="editing[rowIndex + '-senjor_guard']"
        (blur)="editing[rowIndex + '-senjor_guard'] = false"
        (keyup.enter)="myEnter($event)"
        (change)="onChangeSenjorGuard($event, this.guideSenjorGuard, row.id_staff, 'id_senjor_guard', 'senjor_guard')"
        [ngModel]="value"       
      >
        <option *ngFor="let sg of this.guideSenjorGuard" [value]="sg.fio">{{sg.fio}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column> 

<!-- КОНЕЦ СПРАВОЧНИКА РУКОВОДИТЕЛЬ -->


<!-- НАЧАЛО СПРАВОЧНИКА  Должность -->
<ngx-datatable-column prop = "guide_position" name = "Должность">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
       <span
        title="Double click to edit"
        (dblclick)="this.editing[rowIndex + '-guide_position'] = true"
        *ngIf="!editing[rowIndex + '-guide_position']"
       >
        {{ value }}
      </span>
      <select
        *ngIf="editing[rowIndex + '-guide_position']"
        (blur)="editing[rowIndex + '-guide_position'] = false"
        (keyup.enter)="myEnter($event)"
        (change)="onChangeSmallGuide($event, this.guidePosition, row.id_staff, 'id_position', 'guide_position')"
        [ngModel]="value"       
      >
        <option *ngFor="let gp of this.guidePosition" [value]="gp.name">{{gp.name}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <!-- КОНЕЦ СПРАВОЧНИКА  Должность -->        


<!-- НАЧАЛО СПРАВОЧНИКА  Пол -->
<ngx-datatable-column prop = "guide_gender" name = "Пол">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
       <span
        title="Double click to edit"
        (dblclick)="this.editing[rowIndex + '-guide_gender'] = true"
        *ngIf="!editing[rowIndex + '-guide_gender']"
       >
        {{ value }}
      </span>
      <select
        *ngIf="editing[rowIndex + '-guide_gender']"
        (blur)="editing[rowIndex + '-guide_gender'] = false"
        (keyup.enter)="myEnter($event)"
        (change)="onChangeSmallGuide($event, this.guideGender, row.id_staff, 'id_gender', 'guide_gender')"
        [ngModel]="value"       
      >
        <option *ngFor="let gp of this.guideGender" [value]="gp.name">{{gp.name}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <!-- КОНЕЦ СПРАВОЧНИКА Пол --> 

  <!-- НАЧАЛО СПРАВОЧНИКА  Тип сотрудника -->
<ngx-datatable-column prop = "guide_typeperson" name = "Тип сотрудника">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
       <span
        title="Double click to edit"
        (dblclick)="this.editing[rowIndex + '-guide_typeperson'] = true"
        *ngIf="!editing[rowIndex + '-guide_typeperson']"
       >
        {{ value }}
      </span>
      <select
        *ngIf="editing[rowIndex + '-guide_typeperson']"
        (blur)="editing[rowIndex + '-guide_typeperson'] = false"
        (keyup.enter)="myEnter($event)"
        (change)="onChangeSmallGuide($event, this.guideTypeperson, row.id_staff, 'id_typeperson', 'guide_typeperson')"
        [ngModel]="value"       
      >
        <option *ngFor="let gtp of this.guideTypeperson" [value]="gtp.name">{{gtp.name}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <!-- КОНЕЦ СПРАВОЧНИКА Тип сотрудника --> 


<!-- НАЧАЛО ПОЛЯ Разряд-->
<ngx-datatable-column prop="rank" name="Разряд" [width]="400">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span
        title="Double click to edit"
        (dblclick)="editing[rowIndex + '-rank'] = true"
        *ngIf="!editing[rowIndex + '-rank']"
      >
        {{ value}} 
      </span>
      <input
        (blur)="myUpdateNumberClick($event.target, row.id_staff, 'rank', 'rank')"
        (keyup.enter)="myEnter($event)"
        (keypress)="maxInputLength($event,5)" 
        (paste)="maxPasteLength($event,5)"        
        *ngIf="editing[rowIndex + '-rank']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ Разряд -->


<!-- НАЧАЛО ПОЛЯ Телефон-->
<ngx-datatable-column prop="phone" name="Телефон">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <span
      title="Double click to edit"
      (dblclick)="editing[rowIndex + '-phone'] = true"
      *ngIf="!editing[rowIndex + '-phone']"
    >
      {{ value}} 
    </span>
    <input
      (blur)="myUpdateClick($event.target, row.id_staff, 'phone', 'phone')"
      (keyup.enter)="myEnter($event)"
      (keypress)="maxInputLength($event,30)" 
      (paste)="maxPasteLength($event,30)"        
      *ngIf="editing[rowIndex + '-phone']"
      type="text"
      [value]="value"
    />
  </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ Телефон -->

<!-- НАЧАЛО ПОЛЯ Телефон2-->
<ngx-datatable-column prop="phone2" name="Телефон 2">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <span
      title="Double click to edit"
      (dblclick)="editing[rowIndex + '-phone2'] = true"
      *ngIf="!editing[rowIndex + '-phone2']"
    >
      {{ value}} 
    </span>
    <input
      (blur)="myUpdateClick($event.target, row.id_staff, 'phone2', 'phone2')"
      (keyup.enter)="myEnter($event)"
      (keypress)="maxInputLength($event,30)" 
      (paste)="maxPasteLength($event,30)"        
      *ngIf="editing[rowIndex + '-phone2']"
      type="text"
      [value]="value"
    />
  </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ Телефон2 -->



<!-- НАЧАЛО ПОЛЯ ДАТА РОЖДЕНИЯ --> 
<ngx-datatable-column prop="DateBirth_str" name="Дата рождения">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
                      title="Double click to edit"
                      placeholder="Choose a date"
                      (dblclick)="editing[rowIndex + '-DateBirth_str'] = true"
                          *ngIf="!editing[rowIndex + '-DateBirth_str']"
          >
                              {{ value }} 
          </span>
          <input
              (focus)="focusFunction($event, row.DateBirth_str)" 
              (focusout)="setDateBirth($event, row.id_staff)"
              (keyup.enter)="myEnter($event)"
              *ngIf="editing[rowIndex + '-DateBirth_str']"
              type="text"
              [value]="value"
          />
  </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ ДАТА РОЖДЕНИЯ --> 

<!-- НАЧАЛО ПОЛЯ ВОЗРАСТ, автовычисление в запросе --> 
<ngx-datatable-column prop = "sAge" name = "Возраст">
  <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ ВОЗРАСТ, автовычисление в запросе --> 


<!-- НАЧАЛО ПОЛЯ ДАТА 002-O/y от --> 
<ngx-datatable-column prop="s002from_str" name="002-O/y от">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
                      title="Double click to edit"
                      placeholder="Choose a date"
                      (dblclick)="editing[rowIndex + '-s002from_str'] = true"
                          *ngIf="!editing[rowIndex + '-s002from_str']"
          >
                              {{ value }} 
          </span>
          <input
              (focus)="focusFunction($event, row.s002from_str)" 
              (focusout)="set002from($event, row.id_staff)"
              (keyup.enter)="myEnter($event)"
              *ngIf="editing[rowIndex + '-s002from_str']"
              type="text"
              [value]="value"
          />
  </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ ДАТА 002-O/y от --> 

<!-- НАЧАЛО ПОЛЯ ДАТА 003-O/y от --> 
<ngx-datatable-column prop="s003from_str" name="003-O/y от">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
                      title="Double click to edit"
                      placeholder="Choose a date"
                      (dblclick)="editing[rowIndex + '-s003from_str'] = true"
                          *ngIf="!editing[rowIndex + '-s003from_str']"
          >
                              {{ value }} 
          </span>
          <input
              (focus)="focusFunction($event, row.s003from_str)" 
              (focusout)="set003from($event, row.id_staff)"
              (keyup.enter)="myEnter($event)"
              *ngIf="editing[rowIndex + '-s003from_str']"
              type="text"
              [value]="value"
          />
  </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ ДАТА 003-O/y от --> 


<ngx-datatable-column prop = "DateCreation" name = "Дата создания">
  <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | date: "yyyy-MM-dd" }}
    </ng-template>
</ngx-datatable-column>



<!-- НАЧАЛО ПОЛЯ delete --> 
<ngx-datatable-column name="Удалить">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button class="btn btn-danger" (click)="deleteStaff(row.id_staff, row.fio)"><img src="/assets/img/delete.png" width="30" /></button>
  </ng-template>
</ngx-datatable-column>
<!-- КОНЕЦ ПОЛЯ delete -->  



<!-- новые столбцы -->

</ngx-datatable>




<!-- Удалить сотрудника -->
<button id="openDeleteModalButton"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#geleteModal" [hidden]="true">
  DeleteOpen
</button>
<button id="closeDeleteModalButton" type="button" class="btn btn-default" data-bs-toggle="modal"  data-bs-target="#geleteModal" [hidden]="true"  data-dismiss="modal">
DeleteClose
</button>

<div class="modal fade" tabindex="-1" role="dialog" id="geleteModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Удалить сотрудника {{this.curDeleteObject.sLink}}?</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteClose()">Нет</button>
      <button type="button" class="btn btn-primary" (click)="deleteSave()">Да</button>
      
    </div>
  </div>
</div>
</div>  
<!-- Конец Удалить сотрудника -->

<div class="input-group rounded  w-lg-550px ml-auto">
  Фильтры
    <select name="choice-status" data-control="select2" class="form-select form-select-solid form-select-lg fw-semibold" 
        (change)="onChangeFilter($event.target)">
        <option  [value]="0"> -- </option>
        <option *ngFor="let lf of this.listFilters" [value]="lf.id"> {{lf.name}}</option>
    </select>

<button (click)="clickFilters()">Создать фильтр</button>
  </div>