<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/liststaff">Сотрудники</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/listobjects">Объекты</a>
    </li>

<!--
    <li class="nav-item">
      <a class="nav-link" href="#">Документы</a>
    </li>
-->        

<!--
    <li class="nav-item">
        <a class="nav-link" href="#">События</a>
      </li>
-->

      <li class="nav-item">
        <a class="nav-link" href="/listmtr">МТР</a>
      </li>
    
  </ul>