<div class="container-fluid">
    <div class="row">
      <div class="col-12">
  
  
<table class="table1">
<tbody><tr>
<td class="tl" width="340"><span class="masha_index masha_index20" rel="20"></span>Название объекта</td>
<td class="tl" width="150"><span class="masha_index masha_index21" rel="21"></span>R 589 - 1U</td> 
<td class="tl" width="150"><span class="masha_index masha_index22" rel="22"></span>R 589 - 2U</td> 
<td class="tl" width="150"><span class="masha_index masha_index23" rel="23"></span>R 589 - 3U</td>
<td class="tl" width="170"><span class="masha_index masha_index24" rel="24"></span>R 589 - 3UV</td> 
<td class="tl" width="150"><span class="masha_index masha_index25" rel="25"></span>R 589 - 4U</td>
</tr>
<tr>
<td class="td11" width="340"><span class="masha_index masha_index26" rel="26"></span>Фото объекта</td>
<td class="td1" width="150"><span class="masha_index masha_index27" rel="27"></span>24</td> 
<td class="td1" width="150"><span class="masha_index masha_index28" rel="28"></span>48</td> 
<td class="td1" width="150"><span class="masha_index masha_index29" rel="29"></span>72</td>
<td class="td1" width="170"><span class="masha_index masha_index30" rel="30"></span>96</td> 
<td class="td1" width="150"><span class="masha_index masha_index31" rel="31"></span>96</td>
</tr>
<tr>
<td class="td11" width="340"><span class="masha_index masha_index32" rel="32"></span>Ширина, мм</td>
<td class="td1" width="150"><span class="masha_index masha_index33" rel="33"></span>432</td> 
<td class="td1" width="150"><span class="masha_index masha_index34" rel="34"></span>432</td> 
<td class="td1" width="150"><span class="masha_index masha_index35" rel="35"></span>432</td>
<td class="td1" width="170"><span class="masha_index masha_index36" rel="36"></span>432</td> 
<td class="td1" width="150"><span class="masha_index masha_index37" rel="37"></span>432</td>
</tr>

<tr>
<td class="td11" width="340"><span class="masha_index masha_index38" rel="38"></span>Глубина, мм</td>
<td class="td1" width="150"><span class="masha_index masha_index39" rel="39"></span>230 </td> 
<td class="td1" width="150"><span class="masha_index masha_index40" rel="40"></span>230 </td> 
<td class="td1" width="150"><span class="masha_index masha_index41" rel="41"></span>230 </td> 
<td class="td1" width="170"><span class="masha_index masha_index42" rel="42"></span>230</td> 
<td class="td1" width="150"><span class="masha_index masha_index43" rel="43"></span>230</td>
</tr>
<tr>
<td class="td11" width="340"><span class="masha_index masha_index44" rel="44"></span>Высота, мм</td>
<td class="td1" width="150"><span class="masha_index masha_index45" rel="45"></span>44</td> 
<td class="td1" width="150"><span class="masha_index masha_index46" rel="46"></span>88</td> 
<td class="td1" width="150"><span class="masha_index masha_index47" rel="47"></span>132</td> 
<td class="td1" width="170"><span class="masha_index masha_index48" rel="48"></span>132</td> 
<td class="td1" width="150"><span class="masha_index masha_index49" rel="49"></span>176</td>
</tr>
<tr>
<td class="td11" width="340"><span class="masha_index masha_index50" rel="50"></span>Кол-во сплайс-кассет, шт. (стандартно/максимально)</td>
<td class="td1" width="150"><span class="masha_index masha_index51" rel="51"></span>2/3</td> 
<td class="td1" width="150"><span class="masha_index masha_index52" rel="52"></span>3/6</td> 
<td class="td1" width="150"><span class="masha_index masha_index53" rel="53"></span>6/9</td> 
<td class="td1" width="170"><span class="masha_index masha_index54" rel="54"></span>6/9</td> 
<td class="td1" width="150"><span class="masha_index masha_index55" rel="55"></span>6/12</td>
</tr>
<tr>
<td class="td11" width="340"><span class="masha_index masha_index56" rel="56"></span>Масса, кг (без пигтейлов и розеток)</td>
<td class="td1" width="150"><span class="masha_index masha_index57" rel="57"></span>3,1</td> 
<td class="td1" width="150"><span class="masha_index masha_index58" rel="58"></span>4,6</td> 
<td class="td1" width="150"><span class="masha_index masha_index59" rel="59"></span>5,7</td> 
<td class="td1" width="170"><span class="masha_index masha_index60" rel="60"></span>5,9</td> 
<td class="td1" width="150"><span class="masha_index masha_index61" rel="61"></span>7</td>
</tr>
<tr>
<td class="td11" width="340"><span class="masha_index masha_index62" rel="62"></span>Кол-во вводимых кабелей диаметром 18 мм, шт. (номинально/максимально) </td>
<td class="td1" width="150"><span class="masha_index masha_index63" rel="63"></span>4/8</td> 
<td class="td1" width="150"><span class="masha_index masha_index64" rel="64"></span>4/8</td> 
<td class="td1" width="150"><span class="masha_index masha_index65" rel="65"></span>4/12</td>
<td class="td1" width="170"><span class="masha_index masha_index66" rel="66"></span>8/12</td> 
<td class="td1" width="150"><span class="masha_index masha_index67" rel="67"></span>8/12</td>
</tr>
</tbody></table>

      </div></div></div>