li:hover{
    cursor: pointer;
}
.user{
    border-radius: 50%;
    border: 1px solid transparent;
}
img:hover{
    cursor: pointer;
}
.btn.btn-info{
    color: #fff;
    background-color: #138496 !important;
    font-weight: bold !important;
   }
   .btn.btn-info:hover{
  color: white !important;
  font-weight: bold !important;
  background-color: #138496 !important; 
  cursor: pointer;
  }