<!-- Начали верхнее меню   -->
<div class="container-fluid d-flex justify-content-evenly m-0 p-0">
  <nav class="navbar w-100 nav-tabs  position: sticky navbar-expand-lg navbar-light bg-light fs-5 fw-semibold my-0 top- 0 w-lg-100%">
   <a class="navbar-brand mx-9 fs-5 fw-semibold" href="#">
    SIGMA-PROFI
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-lg-950px justify-content-evenly">
        <li *ngIf="this.getAccessMenu('staff2')" class="nav-item">
          <a class="nav-link" aria-current="page" href="/staff2">Сотрудники</a>
        </li>
        <li *ngIf="this.getAccessMenu('obj2')" class="nav-item">
          <a class="nav-link" href="/obj2">Объекты</a>
        </li>
        <li *ngIf="this.getAccessMenu('mtr2')" class="nav-item">
          <a class="nav-link" href="mtr2">МТР</a>
        </li>
        <li *ngIf="this.getAccessMenu('events')" class="nav-item">
          <a class="nav-link" href="">События</a>
        </li>
        <li *ngIf="this.getAccessMenu('contract')" class="nav-item">
          <a class="nav-link" href="">Договора</a>
        </li>
        
        <li *ngIf="this.getAccessMenu('act')" class="nav-item">
          <a class="nav-link" href="">Акты</a>
        </li>
      <li *ngIf="this.getAccessMenu('tender')" class="nav-item">
        <a class="nav-link" href="">Тендеры</a>
      </li>

      <li  *ngIf="this.getAccessMenu('tabel')" class="nav-item">
        <a class="nav-link" href="tabel">Табель</a>
      </li>

      <li *ngIf="this.getAccessMenu('adminmenu')" class="nav-item">
        <a class="nav-link" href="adminmenu">Администрирование</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="Exit()" >Выход</a>
      </li>

      </ul>
    </div>

<div class="">
    <button type="button" class="btn btn-info btn-sm position-relative mx-3" (click)="chat()">
      Чат
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{this.unreadChatMessages}}
          <span class="visually-hidden">Новые сообщения</span>
      </span>
    </button>



    <button type="button" class="btn btn-info btn-sm position-relative" (click)="unreadTask()">
      Задачи
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{unAceptTaskCount}}
          <span class="visually-hidden">непринятые задачи</span>
      </span>
    </button>

   </div>

  <!-- <img class="user mx-5" src="/assets/img/homer.png" width="30" height="35" class="rounded-circle"  alt="user"/> -->
  <div class="dropdown pb-4">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/img/homer.png" alt="user" width="40" height="40" class="rounded-circle mx-10 pt-2">
     
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">1</a></li>
        <li><a class="dropdown-item" href="#">2</a></li>
        <li><a class="dropdown-item" href="#">3</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Выйти</a></li>
    </ul>
</div>

</nav>
  </div>

     <!-- Закончили верхнее меню   -->


     <!-- <div class="d-flex flex-column flex-lg-row flex-column-fluid">
  
      <div class="d-flex col-2">
        <ul class="nav flex-column nav-fill">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul> -->

     

 <!-- Кнопка получения ширины колонки   <button [style.color] = "'green'" [style.width.px]="width"  (click) = "clickWigth()">
  Получить ширину столбцов</button> -->