.table1 td { height:40px;color:#1a171b;font-family:"Myriad Pro","PT Sans Caption","PT Sans",Calibri,Carlito,sans-serif;padding-left:10px; }
.td1   {border-left:1px dashed #005da8;border-bottom:1px dashed #005da8;}
.td11   {border-bottom:1px dashed #005da8;}
.td12   {border-bottom:1px dashed #005da8;line-height: 2.4;}
.td13   {border:1px dashed #005da8;}
.tl {background:#a4c5dd;border:1px dashed #005da8; }
