<app-basement></app-basement>

<div class="wrapper">
<form class="mb-2 w-100">
    <div class="card-body p-9 w-100 align-item-center">

        <div class="row mb-6">
            <div class="col-lg-4 col-form-label fw-semibold fs-6 d-flex flex-column">
                    <input type="file" id="photo_post" (change)="onFileChange($event)" #fileInput style="display:none"> 
                <span class="text-muted fs-6" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('photo_post').click()">Загрузить фото</span>
                <span class="text-muted  fs-6" style="cursor: pointer; text-decoration: underline;"  (click)="clearFile()">Удалить фото</span>
            </div>
                
            <div class="col-lg-8">
                        <div class="image-input-wrapper" *ngIf="this.sPhotoPostPath.length>0;then contentLoadPhotoPost else contentDefault">Пост охраны</div>
                        <ng-template #contentLoadPhotoPost class="image-input">
                        <img class="rounded  w-125px h-125px image-input-wrapper"  [src]="this.sPhotoPostPath" alt="Пост охраны" id="img" onclick="document.getElementById('photo_post').click()">
                        </ng-template>
                        <ng-template #contentDefault>
                        <img class="rounded image-input-wrapper w-125px h-125px" src="/assets/img/post.png" onclick="document.getElementById('photo_post').click()">
                        </ng-template>
            </div>
        </div>        
      
            <div class="row mb-6">
                <div class="name-object">
                    <div class="line">
                      <span class="fs-3 text-primary">Объект </span>
                      <span class="fs-3 text-primary">"{{protected_object.name}}" </span>
                      
                  <h6>№ {{id_object}}</h6>
                    </div>
                    
                   
                  <h4>{{protected_object.address}}</h4>
                  </div>
                  
            </div>

             <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Название</label>
                <div class="col-lg-8 fv-row">
                    <input type="text" name="name"  class="form-control w-100" id="namePost" 
                    (blur)="onBlurNamePostInput($event.target)"/>
                </div>
            </div>  

            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Номер</label>
                <div class="col-lg-8 fv-row">
                    <input type="text" name="number" class="form-control" id="numberPost" 
                    (blur)="onBlurNumberPostInput($event.target)"/>
                </div>
            </div>  

            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Метка</label>
                <div class="col-lg-8 fv-row">
                    <input type="text" name="label" class="form-control w-100" id="labelPost" 
                    (blur)="onBlurLabelPostInput($event.target)"/> 
                </div>
            </div>  

            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-semibold fs-6">
                    <span class="required">График работы поста</span>
                    </label>

                <div class="col-lg-8 fv-row">
                    <select name="routine" data-control="selectRoutine" class="form-select form-select-solid form-select-lg fw-semibold" 
                            [(ngModel)]="id_post_routine"
                            (change)="onClickRoutine()">
                        <option *ngFor="let gpr of this.guidePostRoutine" [value]="gpr.id">{{gpr.name}}</option>
                   </select>
                </div>
           </div>
   
           <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Время начала смены</label>
            <div class="col-lg-8 fv-row">
                <input type="time" name="TimeBegin" id="idTimeBegin"
                       class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                       (blur)="onBlurTimeBeginPostInput($event.target)"/> 
            </div>
           </div>  

           <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Время окончания смены</label>
            <div class="col-lg-8 fv-row">
                <input type="time" name="TimeEnd" id="idTimeEnd" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                       (blur)="onBlurTimeEndPostInput($event.target)"/>
            </div>
           </div>  

           <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Пост выставлен</label>
            <div class="col-lg-8 fv-row">
                <input type="date" name="DateBegin" id="idDateBegin" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                (blur)="onBlurDateBeginPostInput($event.target)" />
            </div>
           </div>  
           
           <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Пост снят</label>
            <div class="col-lg-8 fv-row">
                <input type="date" name="DateEnd" id="idDateEnd" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" 
                (blur)="onBlurDateEndPostInput($event.target)" />
            </div>
           </div>  

           <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Ссылка на видео с камеры наблюдения. </label>
            <div class="col-lg-8 fv-row">
                <input type="text" name="link_video" class="form-control form-control-lg form-control-solid form-select-lg fw-semibold" id="linkcameraPost" 
                (blur)="onBlurCameraPostInput($event.target)"/> 
            </div>
           </div>  


            <!-- начало спецсредства -->           
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-5">Спецсредства</label>
                <div class="col-lg-8 fv-row">
                      <ul>
                        <li *ngFor="let spm of this.guideSpecialMeans" >
                            <input type="checkbox" class="w-25px" id="idSpecialMeans{{spm.id_mtr}}" name="SpecialMeans{{spm.id_mtr}}" 
                                  [checked] = "spm.checked" 
                                  (change)="onClickSpecialMeans($event.target, spm.id_mtr)"/>
                            <label for="SpecialMeans{{spm.id_mtr}}">{{spm.name}}</label>
                            <label for="SpecialMeans{{spm.id_mtr}}">Количество</label>
                            <input class="form-control" type="text" id="idSpecialMeansCount{{spm.id_mtr}}" name="SpecialMeansCount{{spm.id_mtr}}"
                                   [value] = "spm.count"
                                   (blur)="onBlurSpecialMeansInput($event.target, spm.id_mtr)"/>

                        </li>
                      </ul>
                </div>
            </div>  
            <!-- конец спецсредства-->   
 
            <!-- начало оружие -->           
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-5">Оружие</label>
                <div class="col-lg-8 fv-row">
                      <ul>
                        <li *ngFor="let w of this.guideWeapons" >
                            <input class="mr-5 fw-semibold w-25px" type="checkbox" id="idWeapons{{w.id_mtr}}" name="Weapons{{w.id_mtr}}"
                                 
                            [checked] = "w.checked" 
                                   (change)="onClickWeapons($event.target, w.id_mtr)"/>
                            <label for="Weapons{{w.id_mtr}}">{{w.name}}</label>
                            <label for="Weapons{{w.id_mtr}}">Количество</label>
                            <input class="form form-control WeaponsCount fw-semibold w-50px" type="text" id="idWeaponsCount{{w.id_mtr}}" name="WeaponsCount{{w.id_mtr}}"
                                   [value] = "w.count"
                                   (blur)="onBlurWeaponsInput($event.target, w.id_mtr)"/>
                        </li>
                      </ul>
                </div>
            </div>  
            <!-- конец оружие-->   
    
            <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        <span class="required">Форма одежды</span>
                        </label>
    
                    <div class="col-lg-8 fv-row">
                        <select name="dress" data-control="selectDress" class="form-select form-select-solid form-select-lg fw-semibold"
                                [(ngModel)]="id_dress"
                                (change)="onClickDress()">
                            <option *ngFor="let gd of this.guideDress" [value]="gd.id_mtr">{{gd.name}}</option>
                       </select>
                    </div>
            </div>
    

   </div>     

   <div class="btns">
    <button id="closeform"(click)="back()" class="btn btn-secondary" type="button">Назад</button>
  </div>


</form>    
</div>             
